//#wrap {overflow:hidden; }
// HEADER
.header{
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba($color: #fff, $alpha: 0.0);
  .header-wrap{
    .header-inner{
      display:flex;
      justify-content: space-between;
      width: 100%;
      //max-width:1400px;
      max-width:1800px;
      height:96px;
      margin:0 auto;
    }
    .logo{
      a{
        display:block;
        width:188px;
        height:62px;
        margin:28px 0;
        background:url("../images/main-logo.png") no-repeat 50% 50%;
        background-size:175px auto;
        font:0/0 a;
      }
    }
    .nav-header{
      margin-left:-25px;
      .list-nav{
        display: flex;
        li{
          margin-right: 31px;
          &:last-child{
            margin-right:0;
          }
          a{
            display:block;
            padding:47px 9px 0;
            color:#fff;
            font-size:18px;
            font-family: 'NotoM';
            white-space: nowrap;
            &:after{
              display:block;
              content:"";
              height:3px;
              margin-top:21px;
            }
            &.active{
              color:#0c3482;
            }
            &.active:after{
              background-color:#0c3482;
            }
          }
        }
      }
    }
  }
}
.util-box{
  display: flex;
  align-items:flex-start;
  align-self: center;
  margin:20px 20px 0 0;
  .lang-box{
    margin:3px 8px 0 0;
    a{
      display:inline-block;
      padding:6px 16px;
      border:1px solid #ffffff;
      border-radius:20px;
      color:#ffffff;
      font-family:'MadetommyM';
      font-size:14px;
      white-space: nowrap;
      &:after{
        display:inline-block;
        content:"";
        width:6px;
        height:6px;
        margin:5px 0 0 13px;
        border-right:2px solid #fff;
        border-bottom:2px solid #fff;
        transform:rotate(45deg);
        vertical-align:top;
      }
    }
  }
  .menu-box{
    .util-menu{
      display:block;
      width:40px;
      height:40px;
      background:url("../images/icons/icon_menu.png") no-repeat 50% 50%;
      font:0/0 a;
    }
  }
}
// .header-active2,.noVisual header{
//   background-color: #fff;
//   .logo{
//     a{
//       background-image:url("../images/main-logo_color.png");
//     }
//   }
// }
.header-active, .noVisual header{
  background-color:#fff;
  .header-wrap{
    border-bottom:1px solid #eee;
    .logo{
      a{
        background-image:url("../images/main-logo_color.png");
      }
    }
    .nav-header{
      .list-nav{
        li{
          a{
            color:#000 !important;
          }
        }
      }
    }
  }
  .util-box{
    .lang-box{
      a{
        border:1px solid #000;
        color:#000;
        &:after{
          border-color:#000;
        }
      }
    }
    .menu-box{
      .util-menu{
        background-image:url("../images/icons/icon_menu_black.png");
      }
    }
  }
}
.header-pane{
  display:none;
  flex-direction: row;
  //width:1400px;
  max-width:1800px;
  height:220px;
  margin:0 auto;
  .introduce-menu{
    width:440px;
    padding:27px 0 0 50px;
    border-right:2px solid #f6f6f6;
    box-sizing:border-box;
    .title{
      color:#000;
      font-size:28px;
      @include Bold;
    }
    .desc{
      margin-top:7px;
      color:#888;
      font-size:12px;
    }
    .bg{
      width:140px;
      height:130px;
      margin:30px 0 0 118px;
      background:url("../images/bg_menu_01.png") no-repeat 50% 100%;
    }
  }
  .depth{
    width:195px;
    padding:25px 25px;
    box-sizing:border-box;
    .title{
      display:block;
      color:#000;
      font-size:16px;
      font-weight:700;
      &:not(:first-of-type){
        margin-top:25px;
      }
    }
    ul{
      margin-top:10px;
      li{
        a{
          display:block;
          padding:3px 0;
          color:#666;
          font-size:14px;
          &:hover,&.active{
            color:#0c3482;
          }
        }
      }
    }
  }
  .line{
    width:1px;
    height:100%;
    background-color:#f5f5f5;
  }
}
.header-active{
  border-bottom:1px solid #eeeeee;
  .header-pane{
    display: none;
    &.is-active{
      display:flex;
    }
  }
}
.header-hide{
  margin-top:-100px;
  transition:margin-top ease .5s;
}
.ipad .nav-header{display:none;}

// FOOTER
.btn-gotop{
  display:none; 
  position:fixed;
  right:100px;
  bottom:100px;
  width:64px;
  height:64px;
  padding-top:15px;
  border-radius:100%;
  background-color:#333333;
  color:#ffffff;
  font-size:16px;
  text-align:center;
  box-sizing:border-box;
  z-index:1000;
  &:before{
    display:block;
    content:"";
    width:9px;
    height:9px;
    margin:0 auto;
    border-style:solid;
    border-width:1px 0 0 1px;
    border-color:#ffffff transparent transparent #ffffff;
    transform: rotate(45deg);
  }
}
.btn-gotop.active{
  display:block;
}
.footer {
}
.footer-top-menu-left{
  .is-pc-customer{
    font-size: 18px;
    letter-spacing: -.72px;
    margin-bottom: 5px;
    font-family: 'NotoB';
  }
}
.require-text{
  position: relative;
  &::after{
    display: block;
    content:'';
    width: 7px;
    height: 7px;
    border-bottom:2px solid #000;
    border-left:2px solid #000;
    position: absolute;
    transform: rotate(-135deg);
    top: 7px;
    right: 7px;
  }
}
.footer-top-menu-wrap{
  border-top:1px solid #eee;
}
.footer-top-menu{
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  ul{
    display: flex;
    li{
      &:not(:last-child){
        padding-right: 20px;
      }
      a{
        font-family: 'NotoM';
        font-size: 14px;
        letter-spacing: -.56px;
      }
    }
  }
  .customer-list{
    margin-bottom: 5px;
    li{
      position: relative;
      &:not(:first-child){
        &::after{
          content: '';
          display: block;
          width: 2px;
          height:12px;
          background-color:#ddd;
          position: absolute;
          right: 9px;
          top:50%;
          transform: translateY(-50%);
        }
      }
      &:last-child{
        &::after{
          display: none;
        }
      }
      a{
        &.gray-link{
          color: #333;
          font-family: 'NotoR';
        }
      }
      &:first-child{
        position: relative;
        margin-right: 30px;
        padding-right: 0;
        strong{
          // font-size: 16px;
        }
        &::after{
          display: block;
          content: '';
          width: 5px;
          height: 5px;
          border-bottom: 2px solid #000;
          border-left: 2px solid #000;
          position: absolute;
          right: -15px;
          top: 50%;
          transform:translateY(-50%) rotate(-135deg);
        }
      }
      // strong{
      //   @include Bold;
      // }
    }
  }
  .footer-top-menu-second-list{
    li{
      position: relative;
      &:not(:last-child){
        &::after{
          content: '';
          display: block;
          width: 2px;
          height: 12px;
          background-color: #ddd;
          position: absolute;
          right: 8px;
          top:50%;
          transform: translateY(-50%);
        }
      }
    }
  }
}
.sns-box{
  display: flex;
  li{
    margin-right: 14px;
    a{
      display:block;
      width:24px;
      height:22px;
      background-repeat:no-repeat;
      background-position:50% 50%;
      font:0/0 a !important;
    }
    .go-instagram{
      background-image:url(../images/icons/icon_instagram.png);
    }
    .go-youtube{
      background-image:url(../images/icons/icon_youtube.png);
    }
    &:first-child{
      margin-left:3px;
      padding-right: 0 !important;
    }
  }
}
.footer-inner{
  display: flex;
  justify-content: space-between;
  width:100%;
  max-width:1400px;
  margin:0 auto;
  padding: 36px 0 65px;
  padding-top: 0;
}
.footer-left{

}
.list-footer-menu{
  display: flex;
  padding:0 0 10px;
  li{
    a{
      font-size:14px;
      font-family: 'NotoM';
    }
  }
  li:not(:last-of-type){
    margin-right:14px;
    &:after{
      display:inline-block;
      content:"";
      width:2px;
      height:8px;
      margin-left:14px;
      background-color: #ccc;
      vertical-align:2px;
    }
  }
}
.list-footer-company{
  line-height:1.4;
  dt,dd{
    display:inline;
    font-size:12px;
  }
  dt{
    color:#999;
    font-family: 'NotoB';
  }
  dd{
    margin-right:5px;
    color:#999;
    font-family: 'NotoR';
  }
  .address{
    display:inline;
  }
}
.copyright{
  margin-top:5px;
  color:#888;
  font-family: 'NotoR';
  font-size:12px;
}
.footer-familysited{
  margin-top:50px;

  select{
    border-bottom: 1px solid #777;
    width:250px;
    padding:10px 0;
    background: url(../images/select-down.png) no-repeat 225px 50%;
    font-size:14px;
    cursor: pointer;
    display: none;
  }
}

//document common
html.fixed,body.fixed{overflow:hidden;}
.section{
  background-color:#ffffff;
}
.inner {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  height: 100%;
}
.main-body{
  .inner{
    max-width:1400px;
    padding:0;
  }
}
.noVisual{
  main#content{padding-top:97px}
}
.section-contents{
  padding:118px 0 160px;
}
.document-title{
  &.type-1{
      .title{
          font-size:56px;
          @include Bold;
          letter-spacing:0;
      }
      .desc{
          margin-top:2px;
          font-size:32px;
          font-family: NotoL;
      }
  }
  &.padding-set{ padding:120px 0 65px; }
  &.type-2{
      .title{
        font-family:'NotoB';
        font-size:48px;
        letter-spacing: -2px;
        line-height:1.3;
      }
      .desc{
        margin-top:20px;
        color:#666666;
        font-size:16px;
        letter-spacing: -0.5px;
      }
  }
  a{
    border-bottom:1px solid;
    color:#0c3482;
    transition:all ease .4s;
    &:hover{
      //background-color:#F5F5F5;
    }
  }
}

.content-title{
  &.padding-set {
    padding-top:120px;
  }
  .title{
      font-size:32px;
      @include Bold;
      letter-spacing:0;
  }
}

#section-visual-sub{
  position:fixed;
  top:0;
  width:100%;
  height:100%;
  background-color:#fff;
  background-repeat:no-repeat;
  background-size:cover;
  z-index:-1;
  animation-duration: 3s;
  animation-name: bg-scale;
  .visual{
    display: flex;
    width:100%;
    max-width:1400px;
    height: 100%;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
    .title{
      color:#fff;
      text-align:center;
      .small{
        display:block;
        font-family: 'NotoL';
        font-size:32px;
        text-transform: uppercase;
        text-align:center;
        animation: slide-up 1.25s cubic-bezier(.5,.2,0,1);
        animation-fill-mode: both;
        animation-delay: calc( .5s + (.05s * 1) );
        -webkit-animation: slide-up 1.25s cubic-bezier(.5,.2,0,1);
}
      .main-visual-txt{
        display:block;
        font-size:80px;
        font-weight:100;
        line-height:1.3;
        font-family: 'NotoB';
        animation: slide-up 1.25s cubic-bezier(.5,.2,0,1); 
        animation-fill-mode: both; 
        animation-delay: calc( .5s + (.05s * 2) );
      }
    }
  }
}
#section-sns{
  background-color: #f5f5f5;
  .inner{
    padding:120px 0;
    text-align:right;
    z-index:1;
    display: flex;
    justify-content: initial;

    .insta-pgrph-wrap{
      width:65.3%; margin-top:0; margin-left:7.1875%;
    }
    .youtube-pgrph-wrap {
      width:33.5%;margin-top:0;
      .youtube-list{
        li{width:100%}
      }
    }

  }
}
#section-breadcrumb{
  height:64px;
  margin-top:100vh;
  border-bottom:1px solid #ddd;
  background-color:#ffffff;
  .breadcrume-wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position:relative;
    width:100%;
    max-width:1800px;
    margin:0 auto;
    .util-box{
      display:none; 
      margin-top:0;
      margin-left:160px;
      .lang-box{
        margin:5px 8px 0 0;
        a{
          border:1px solid #000;
          color:#000;
          &:after{
            border-color:#000;
          }
        }
      }
      .menu-box{
        .util-menu{
          background-image:url("../images/icons/icon_menu_black.png");
        }
      }
    }
  } 
}
.util-search{
  display:inline-block;
  position:relative;
  width:40px;
  height:40px;
  font:0/0 a;
  text-align:center;
  &:before,&:after{
    display:inline-block;
    content:"";
  }
  &:before{
    width:14px;
    height:14px;
    border:2px solid #ffffff;
    border-radius:100%;
  }
  &:after{
    position:absolute;
    top:24px;
    left:27px;
    width:2px;
    height:9px;
    background-color:#ffffff;
    transform: rotate(-45deg);
  }
  &.is-big{
    &:before{
      width:15px;
      height:15px;
      border-width:3px;
    }
    &:after{
        top:24px;
        left:29px;
        width:3px;
        height:12px;
    }
  }
  &.is-black{
    &:before{
      border-color:#000000;
    }
    &:after{
        background-color:#000000;
    }
  }
}
.header-active, .noVisual header,#section-breadcrumb{
  .util-search{
    &:before{
      border:2px solid #000000;
    }
    &:after{
      background-color:#000000;
    }
  }
}
.side-menu{
  display:none;
  overflow-y:scroll;
  -webkit-overflow-scrolling: touch;
  position:fixed;
  top:0 !important;
  right:0 !important;
  left:auto !important;
  min-width:100%;
  max-width:100%;
  height:100vh;
  background-color:#ffffff;
  z-index:1010;
  .inner {margin-top:100px}


  .lang-box {display: none;}
  .list-nav {
    >li {
      display: inline-block; width:15.625%; vertical-align: top;margin-left:5.6641%;
      &.pull-left-top{margin-left:-15.625%; margin-top:200px }
      &.pull-t200 {margin-top:-200px;}
      &.pull-t75 {margin-top:-75px;}
    }
  }
  .btn-close{
    position:absolute;
    top:25px;right:20px;
  }
  .pane{
    display:block;
   
    .title{
      display:block;
      margin-bottom:4px;
      font-family:'NotoB';
      font-size:18px;
      &:not(:first-of-type){
        margin-top:16px;
      }
      a {color:#000;}
    }
    a{
      display:block;
      padding:2px 0;
      color:#666666;
      font-family:'NotoM';
      font-size:16px;
      line-height:1.2;
    }
  }
  .menu{
    padding:0 0 16px 0;
    border-bottom: 3px solid #000;margin-bottom:16px;
    a,.btn-toggle{
      display:block;
      position:relative;
      width:100%;
      color:#000;
      font-family:'NotoB';
      font-size:24px;
      text-align:left;
      box-sizing:border-box;
    }
    .btn-toggle{
      margin-top:0;
      font :24px/1.5 'NotoB';
      height: auto;
      // PREVENT IPAD BUTTON CORNER BORDER RADIUS
      border-radius: 0 !important;
      -webkit-appearance: none;
      border-radius: 0;
      &:after{
        display: none;
      }
      &:hover{
        background-color:transparent;
      }
      &.on{
        color:#0c3482;
        &:after{
          border-color:#000000 #000000 transparent transparent; 
        }
      }
    }
  }
  // &.mobile {
  //   padding:25px 0;
  //   box-sizing:border-box;
    

  //   .lang-box{
  //     padding:0 10px;
  //     a{
  //       display:inline-block;
  //       padding:5px 10px;
  //       color:#000;
  //       font-family:'MadetommyM';
  //       font-size:16px;
  //     }
  //     .active{
  //       color:#000000;
  //     }
  //   }
    
  //   .list-nav{
  //     margin-top:40px;
      
  //     li{
        
  //     }
  //   }
    
    
  //  }
  }
  
  // .side-menu::-webkit-scrollbar{
  //   width:12px;
  // }
  .side-menu::-webkit-scrollbar-thumb{
    width:4px;
    border:4px solid #ffffff;
    border-radius:10px;
    background-color:#999999;
  }
  
.breadcrumb{
  //display: flex;
  //flex-direction: row;
  display:inline-block;
  font-size:0;
  vertical-align:top;
  .list-depth{
    display:none;
    position:relative;
    min-width:205px;
    border-right:2px solid #f6f6f6;
    &:after{
      display:block;
      content:"";
      position:absolute;
      top:20px;
      right:22px;
      width:8px;
      height:8px;
      margin:7px 0 0 20px;
      border-bottom:2px solid #999;
      border-left:2px solid #999;
      transform:rotate(-45deg);
    }
    a{
      display:block;
      padding:20px 30px;
      color:#777;
      font-family: 'NotoM';
      font-size:16px;
    }
    .active{
      background-color:#ebeef7;
      color:#000;
    }
  }
}
.ui-selectmenu-button.ui-button{
  display:inline-block;
  position:relative;
  min-width:204px;
  width:auto;
  margin:0;
  padding:0px 24px;
  border:0 none;
  border-left:1px solid #eeeeee;
  border-radius:0;
  background-color:#ffffff;
  color:#666666;
  font-family:'NotoM';
  font-size:16px;
  text-align:left;
  line-height:64px;
  box-sizing:border-box;
  vertical-align:top;
  &:hover{
    border:0 none;
    border-left:1px solid #eeeeee;
    background-color:#ffffff;
  }
  &:focus{
    border-top:0 none;
    //border-left:0 none;
    border-bottom:0 none;
    background-color:#ffffff;
  }
  &:after{
    display:block;
    content:"";
    position:absolute;
    top:20px;
    right:22px;
    width:8px;
    height:8px;
    margin:7px 0 0 20px;
    border-bottom:2px solid #999;
    border-left:2px solid #999;
    transform:rotate(-45deg);
  }
  &:active{
    border-color:#eeeeee;
    background-color:#ffffff;
    color:#666666;
  }
  &:last-of-type{
    border-right:1px solid #eeeeee;
  }
  &.ui-selectmenu-button-open{
    border:1px solid #cccccc;
    border-top:0 none;
    border-bottom-color:#ffffff;
    &:after{
      right:21px;
    }
  }
}
.ui-selectmenu-menu{
  .ui-widget.ui-widget-content{
    padding-bottom:0;
    border:1px solid #cccccc;
    border-top:0 none;
    border-radius:0;
    box-shadow: 1px 10px 15px rgba(0, 0, 0, .1);
  }
  .ui-menu .ui-menu-item-wrapper{
    padding:0 24px;
    color:#666666;
    font-family:'NotoM';
    line-height:48px;
  }
  .ui-state-active, .ui-widget-content .ui-state-active{
    margin:0;
    border:0 none;
    background-color:#ebeef7;
  }
  &.fixed-selectmenu{
    position:fixed;
    top:64px !important;
  }
}
.ui-datepicker.ui-widget{
  width:300px;
  border:1px solid #cccccc;
  border-radius:0;
  z-index: 11 !important;
  .ui-state-default{
    height:37px;
    text-align:center;
    line-height:41px;
  }
  .ui-state-active{
    background-color:#0056ff;
    color:#ffffff;
  }
  table{table-layout: fixed;}
}

.icon-home{
  display:inline-block;
  width:74px;
  height:64px;
  padding:20px 10px;
  text-align:center;
  box-sizing:border-box;
  font:0/0 a;
  &:before{
    display:block;
    content:"";
    width:17px;
    height:17px;
    margin:3px auto 0;
    border-top:2px solid #000;
    border-right:2px solid #000;
    transform:rotate(-45deg);
  }
  &:after{
    display:block;
    content:"";
    width:11px;
    height:11px;
    margin:-11px auto 0;
    border:2px solid #000;
    border-top:0 none;
  }
}
.fixed-breadcrumb{
  position:fixed;
  top:-100vh;
  width:100%;
  z-index:100;
  & + div {margin-top:calc(100vh);padding-top:64px;}
}
#section-breadcrumb.fixed-breadcrumb .breadcrume-wrap .util-box{  display:flex; }

.go-download{
  display:inline-block;
  width:35px;
  height:30px;
  background:url("../images/icons/icon_download.png") no-repeat 50% 50%;
  font:0/0 a;
  vertical-align:middle;
}
.icheckbox{
  display:inline-block;
  width:16px;
  height:16px;
  border:1px solid #cccccc;
  margin:4px 8px 0 0;
  text-align:center;
  vertical-align:top;
  &:after{
    display:inline-block;
    content:"";
    width:6px;
    height:4px;
    margin-top:4px;
    border-width:0 0 2px 2px;
    border-style:solid;
    border-color:transparent transparent #ffffff #ffffff;
    vertical-align:top;
    transform: rotate(-45deg);
  }
  &.checked{
    border-color:#0c3482;
    background-color:#0c3482;
  }
  &.disabled{
    opacity: .5;
  }
}
.iradio{
  display:inline-block;
  width:16px;
  height:16px;
  border:1px solid #cccccc;
  border-radius:100%;
  margin:4px 8px 0 0;
  text-align:center;
  vertical-align:top;
  &:after{
    display:inline-block;
    content:"";
    width:10px;
    height:10px;
    margin-top:3px;
    border-radius:100%;
    background-color:#ffffff;
    vertical-align:top;
  }
  &.checked{
    border-color:#0c3482;
    &:after{
      background-color:#0c3482;
    }
  }
  &.disabled{
    opacity: .5;
  }
}
.tab_nav{
  display:flex;
  justify-content: space-between;
  li{
    flex:1;
    display: flex;
    align-items: center
  }
  &.type-1{
    li{
      border-bottom:3px solid #eeeeee;
      &:not(:first-of-type){
        margin-left:1.17%;
      }
    }
    .on{
      border-bottom-color:#0c3482;
      a{
        color:#0c3482;
        font-family: 'NotoB';
      }
    }
    a{
      display:block;
      padding:16px 0;
      color:#999999;
      font-size:24px;
      font-family: 'NotoM';
      line-height: 1.169;
      width:100%;
    }
  }
  &.type-2{
    li{
      border:1px solid #eeeeee;
      &:not(:first-of-type){
        border-left:0 none;
      }
    }
    .on{
      background-color:#0c3482;
      a{
        color:#ffffff;
      }
    }
    a{
      display:block;
      padding:12px 0;
      color:#666666;
      font-size:16px;
      font-family: 'NotoM';
      text-align:center;
    }
  }
  &.type-3{
    display:block;
    li{
      display:block;
    }
    .on{
      a{
        color:#0c3482;
        &:before{
          background-color:#0c3482;
        }
      }
    }
    a{
      display:block;
      padding:4px 0;
      color:#999999;
      font-size:16px;
      font-family: 'NotoB';
      &:before{
        display:inline-block;
        content:"";
        width:8px;
        height:8px;
        margin:8px 8px 0 0;
        background-color:#ffffff;
        border-radius:100%;
        vertical-align:top;
      }
    }
  }
  
  
}
.tab_cont{
  >div{
    display:none;
  }
}
.btn-close{
  width:30px;
  height:30px;
  position:relative;
  font-size:0;
  line-height:0;
  text-align:center;
  &:before,&:after{
    display:inline-block;
    content:"";
    position:absolute;
    top:0;
    width:2px;
    height:30px;
    background-color:#707070;
    vertical-align:top;
  }
  &:before{
    transform:rotate(-45deg);
    -ms-transform: rotate(-45deg);
  }
  &:after{
    transform:rotate(45deg);
    -ms-transform: rotate(40deg);
  }
  &.is-black{
    &:before,&:after{
      background-color:#000000;
    }
  }
}

/* GUI guide */
.point-color-blue{color:#0C3482;}
.point-color-black{color:#0A0F23;}
.point-color-sky{color:#3C7EFF;}
.point-color-gold{color:#C7A635;}

[class*="btn-common"]{
  display:inline-block;
  min-width:144px;
  padding: 14px 39px 13px;
  border-radius: 28px;
  font-family: 'NotoB';
  font-size:18px;
  line-height:1.5;
  box-sizing:border-box;
  vertical-align:top;
  transition-delay:0s !important;
  text-align:center;
  .arrow{
      display:inline-block;
      width:20px;
      height:1px;
      margin-left:8px;
      background-color:#000;
      &:before{
      display:block;
      content:"";
      width:100%;
      height:10px;
      border-right:1px solid #000;
      transform: rotate(-50deg);
      transform-origin: 40% 70%;
      }
  }
  &.is-medium{
      min-width:120px;
      padding:11px 32px;
      font-size:16px;
  }
  &.is-small{
      min-width:96px;
      padding:9px 24px;;
      font-size:14px;
  }
  &.is-outline{
      border:1px solid #000000;
      color:#000000;
      transition:background-color ease .4s;
  }
  &.is-white{
      border-color:#ffffff;
      color:#ffffff;
      .arrow{
      background-color:#ffffff;
      &:before{
          border-color:#ffffff;
      }
      }
      &:disabled,&:disabled:hover{
      border-color:#333333;
      background-color:#333333;
      color:#999999;
      }
  }
  &.is-gray{
    border-color:#999999;
    color:#999999;
  }
  &.is-small:not(.is-outline){
      padding:0;
      font-size:16px;
      font-weight:700;
      .arrow{
      &:before{
          height:7px;
          margin:3px 0 0 1px;
      }
      }
      &:hover{
      background-color:transparent;
      color:#000000;
      .arrow{
          background-color:#000000;
          &:before{
          border-right-color:#000000;
          }
      }
      }
      &.is-white:hover{
      color:#ffffff;
      .arrow{
          background-color:#ffffff;
          &:before{
          border-right-color:#ffffff;
          }
      }
      }
  }
  &:hover{
      border-color:#0056ff;
      background-color:#0056ff;
      color:#ffffff;
      .arrow{
      transition:transform ease .3s;
      transform: translateX(10px);
      background-color:#ffffff;
      &:before{
          border-right-color:#ffffff;
      }
      }
  }
  &:disabled,&:disabled:hover{
      border-color:#cccccc;
      background-color:#cccccc;
      color:#ffffff;
      .arrow{
      transform: translateX(0px);
      background-color:#ffffff;
      &:before{
          border-right-color:#ffffff;
      }
      }
      &.is-white:disabled,&.is-white:disabled:hover{
      .arrow{
          transform: translateX(0px);
          background-color:#999999;
          &:before{
          border-right-color:#999999;
          }
      }
      }
  }
}
.btn-box{
  margin-top:48px;
  font-size:0;
  text-align:center;
  [class*="btn-common"]:not(:first-child){
    margin-left:16px;
  }
}
.btn-toggle{
  margin-top:5px;
  display:inline-block;
  width:55px;
  height:55px;
  border-radius:100%;
  font:0/0 a;
  text-align:center;
  transition:background-color ease .4s;
  &:hover{
    background-color:#F5F5F5;
  }
  &:after{
    display:inline-block;
    content:"";
    width:8px;
    height:8px;
    border-top:2px solid #000000;
    border-right:2px solid #000000;
    transform:rotate(135deg);
    -webkit-transform:rotate(135deg);
    -moz-transform:rotate(135deg);
    -ms-transform:rotate(135deg);
    -o-transform:rotate(135deg);
}
  &.on:after{
    transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
  }
  &.toggle-text{
    width:auto;
    height:auto;
    margin:0 0 0 15px;
    padding-bottom:3px;
    border-bottom:1px solid;
    border-radius:0;
    &:before{
      content:"자세히보기";
      font-family: 'NotoM';
      font-size:16px;
      line-height:1;
    }
    &:after{
      margin:0 0 3px 10px;
    }
    &:hover{
      background-color:transparent;
    }
    &.on:before{
      content:"닫기";
    }
    &.on:after{
      margin-bottom:0;
    }
  }
}

.hashtag-box{
  font-size:0;
  .tag{
      display:inline-block;
      border:1px solid #ddd;
      margin-right:8px;
      padding: 8px 16px;
      border-radius: 20px;
      color:#000;
      font-size:16px;
      font-family: 'NotoM';
  }
}

.pagination{
  margin-top:65px;
  text-align:center;
  font:0/0 a;
  a{
      display:inline-block;
      vertical-align:middle;
  }
  [class*="arrow-"]{
      width:40px;
      height:40px;
      margin:0 5px;
      border:1px solid #dddddd;
      border-radius:100%;
      text-align:center;
      box-sizing:border-box;
      transition:border-color ease .3s;
      &:before,&:after{
          display:inline-block;
          content:"";
          width:6px;
          height:6px;
          margin-top:15px;
      }
      &:hover{
          border-color:#999999;
      }
  }
  .arrow-first{
      &:before{
          margin-left:3px;
          border-bottom:2px solid #333333;
          border-left:2px solid #333333;
          transform: rotate(45deg);
      }
      &:after{
          margin-left:-2px;
          border-bottom:2px solid #333333;
          border-left:2px solid #333333;
          transform: rotate(45deg);
      }
  }
  .arrow-prev{
      margin-right:14px;
      &:before{
          margin-left: 1px;
          border-bottom:2px solid #333333;
          border-left:2px solid #333333;
          transform: rotate(45deg);
      }
      &:after{
          display:none;
      }
  }
  .arrow-next{
      margin-left:14px;
      &:before{
          margin-right: 2px;
          border-right:2px solid #333333;
          border-bottom:2px solid #333333;
          transform: rotate(-45deg);
      }
      &:after{
          display:none;
      }
  }
  .arrow-end{
      &:before{
          margin-right: -2px;
          border-right:2px solid #333333;
          border-bottom:2px solid #333333;
          transform: rotate(-45deg);
      }
      &:after{
          margin-right:2px;
          border-right:2px solid #333333;
          border-bottom:2px solid #333333;
          transform: rotate(-45deg);
      }
  }
  .num{
      min-width:31px;
      margin:0 4px;
      color:#666666;
      font-size:24px;
      font-family:'MadetommyL';
      text-align:center;
      line-height:40px;
      &:hover{
          text-decoration:underline;
          text-decoration-thickness: from-font;
      }
  }
  .active{
      text-decoration:underline;
      text-decoration-thickness: from-font;
      color:#000000;
      font-family:'MadetommyM';
  }
}

.table{
  // IE 깨짐 삭제 2021.12.16
  // table-layout: fixed;
  width:100%;
  border-top:1px solid #000;
  .caption{
    display:table-caption;
    padding-bottom:25px;
    color:#000;
    font-size:32px;
    font-family: 'NotoB';
    text-align:left;
    letter-spacing: -1.5px;
  }
  tr{
    border-bottom:1px solid #eee;
  }
  td,th{
    padding:16px;
    font-size:16px;
    vertical-align:middle;
  }
  th{
    color:#000;
    font-family: 'NotoM';
    text-align:left;
  }
  td{
    color:#666;
  }
  &.type-1{
    thead{
      th{
        padding:16px 10px 16px 60px;
      }
    }
    td,th{
      padding:13px 10px 13px 60px;
    }
  }
  &.type-2{
    border-top:0 none;
    tr{
      border-bottom:0 none;
    }
    th,td{
      border:1px solid #f6f6f6;
    }
    thead{
      th{
        background-color:#f8f8f8;
      }
    }
  }
  &.type-3{
    tr{border-bottom:1px solid #eeeeee;}
    th,td{padding:10px 15px;border-left:1px solid #eeeeee;}
    th:first-of-type{border-left:0 none;}
  }
  &.type-write{
    border-bottom:1px solid #dddddd;
    .col-1{width:90px;}
    tr{
      border-bottom:0 none;
      &:first-of-type{
        th,td{
          padding-top:16px;
        }
      }
      &:last-of-type{
        th,td{
          padding-bottom:16px;
        }
      }
    }
    th{
      font-family:'NotoB';
      vertical-align:top;
      .title{
        display:inline-block;
        margin-top:8px;
      }
    }
    th,td{
      padding-top:8px;
      padding-bottom:8px;
    }
  }
  .bul-must{
    font:0/0 a;
    &:before{
      display:inline-block;
      content:"*";
      width:4px;
      height:4px;
      margin:4px 0 0 5px;
      border-radius:100%;
      background-color:#0056ff;
      vertical-align:top;
    }
  }
  .pc-hide{display:none;}
  .mo-input-box{
    .input-title{display:none;}
  }
}

.degree-wrap  {
  width:100%;
  margin-top:24px;
  .degree-item  {
    position:relative; 
    border:1px solid #eee;
    + .degree-item  {margin-top:-1px; }
    &:first-child table.type-degree{
      caption {
          line-height:170px;
        }
    }
    table {
      width:calc(100% - 240px); margin-left:240px;  border:0; 
      &.type-degree{
        caption {position:absolute; width:182px; height:100%; background:#f5f5f5; left:0; top:0; padding:0; line-height:140px; font-size:16px; text-align: center; border-top:1px solid #eee; }
        tr{
          border-bottom:0 none;
          td{
            height:30px;
            padding:0;
            border-left:1px dashed #eeeeee;
          }
          th {font-size:11px; height:20px;  border-left:1px dashed #eeeeee; text-indent: -27px;}
          &:first-child td {height:50px;
            .degree {
              &:before{
                bottom: -18px;
              }
            }
          }
        }
        .active{
          border-bottom:4px solid rgba(0, 86, 255, .2);
        }
        .right-line{
          border-right:4px solid rgba(0, 86, 255, .2);;
        }
        .left-line{
          border-left:4px solid rgba(0, 86, 255, .2);;
        }
        .degree{
          display:inline-block;
          color:#000000;
          font-family:'MadetommyM','NotoM';
          font-size:18px;
          width:40px;
          height:25px;
          line-height:25px;
          text-align: center;
          position: relative;
          left:-20px;
          &:before{
            display:block;
            content:"";
            position: absolute;
            bottom: -10px;
            width:8px;
            height:8px;
            margin:0 0 0 -5px;
            left:50%;
            border-radius:100%;
            border:2px solid #0c3482;
            background-color:#0c3482;
          }
        }
      }
    }
  }
}

.accordian-box{
  border-top:1px solid #000;
  .item{
    //padding:14.5px 0 14.5px 16px;
    border-bottom:1px solid #dddddd;
  }
  .top{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .box:first-of-type:last-of-type{
      flex:1;
    }
  }
  .pane{
    display:none;
    padding:40px 16px;
    border-top:1px solid #eeeeee;
    //margin-top:14.5px;
    //margin-left:-16px;
  }
  .title{
    display:block;
    margin-top:7px;
    font-family:'NotoB';
    font-size:24px;
    letter-spacing: -1px;
  }
  .desc{
    margin-top:8px;
    color:#666666;
    font-size:16px;
    letter-spacing: -0.5px;
  }
}

.input-box{
  display:flex;
  &.type2 {
    width:100%;
    display: flex;
    .emailTxt {}
    select {width:23%; margin-left:5px;}
    .flex-wrap {
     display: flex;
    }
  }
  &.half{
    width:50%;
  }
  .dash{
    padding:0 10px;
    line-height:40px;
  }
}
.input{
  width:100%;
  padding:7px;
  border:1px solid #cccccc;
  color:#000000;
  font-size:16px;
  box-sizing:border-box;
  &[readonly]{
    background-color:#f5f5f5;
    &:focus{
      border-color:#cccccc;
    }
  }
  &[disabled]{
    border-color:#eeeeee;
    background-color:#f5f5f5;
  }
  &:focus{
    border-color:#0056ff;
  }
  &.validation{
    border-color:#e50000;
    &::placeholder{
      color:#e50000;
    }
  }
}
.error-msg{
  margin-top:4px;
  color:#e50000;
  font-size:14px;
}
.textarea{
  width:100%;
  padding:7px;
  border:1px solid #cccccc;
  color:#000000;
  box-sizing:border-box;
  resize:vertical;
  &[readonly]{
    background-color:#f5f5f5;
  }
  &[disabled]{
    border-color:#eeeeee;
    background-color:#f5f5f5;
  }
  &:focus{
    border-color:#0056ff;
  }
  &.validation{
    border-color:#e50000;
    &::placeholder{
      color:#e50000;
    }
  }
}
textarea::-webkit-scrollbar{
  width:12px;
}
textarea::-webkit-scrollbar-track{}
textarea::-webkit-scrollbar-thumb{
  width:4px;
  border:4px solid #ffffff;
  border-radius:10px;
  background-color:#999999;
}
.select{
  width:100%;
  height:40px;
  padding:0 8px;
  border:1px solid #cccccc;
  background:url("../images/layout/select_default.png") no-repeat right 50%;
  &[readonly]{
    background-color:#f5f5f5;
  }
  &[disabled]{
    border-color:#eeeeee;
    background-color:#f5f5f5;
  }
  &:focus{
    border-color:#0056ff;
    background-image:url("../images/layout/select_focus.png");
  }
  &.validation{
    border-color:#e50000;
    color:#e50000;
  }
  option{
    min-height:40px;
    &[disabled]{
      color:#aaaaaa;
    }
  }
}
.attr-box{
  overflow:hidden;
  display:flex;
  position:relative;
  width:415px;
  .input{
    flex:1;
    background-color:#ffffff;
  }
  .btn-attr{
    display:inline-block;
    height:40px;
    padding:0 24px;
    border:1px solid #cccccc;
    border-left:0 none;
    background-color:#f5f5f5;
    color:#666666;
    font-size:16px;
  }
  .file{
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    font-size:100px;
    opacity:0;
  }

}

@media (min-width: 900px) and (max-width: 1300px){
  // 2022.01.08 태블릿 가로 여백 
  // .document-title{
  //   &.type-2{
  //     .title{
  //       font-size:42px;
  //     }
  //   }
  // }
  .btn-toggle{
    &.on{
      // display: none !important;
    }
  }
  .esg-page-padding{
    padding:80px 0 90px 0 !important;
  }
  .box-tab{
    width:70% !important;
    .list-tab{
      li{
        .title{
          font-size: 22px !important;
        }
      }
    }
  }
  #section-media{
    .inner{
      padding:60px 5vw !important;
    }
  }
  #section-visual{
    .inner{
      .slide-cont{
        padding-left: 5vw !important;
      }
    }
  }
  #section-recruit{
    .inner{
      padding-left: 5vw !important;
      padding-right: 5vw !important;
    }
  }
  #section-product{
    .inner{
      padding-left: 5vw !important;
      padding-right: 5vw !important;
    }
  }
  #section-ir{
    .inner{
      padding-left: 5vw !important;
      padding-right: 5vw !important;
    }
  }
  #section-sns{
    .inner{
      padding-left: 5vw !important;
      padding-right: 5vw !important;
    }
  }
  .main-body{
    #section-business{
      .inner{
        padding:0 5vw !important;
        .title-text-box-common{
          padding:180px 0 !important;
        }
      }
    }
    #section-esg{
      .inner{
        padding:60px 5vw !important;
      }
    }    
  }

  #section-business{
    .inner{
      .title-text-box-common{
        align-items: center;
      }
    }
  }
  .header .header-wrap{
    .logo{
      // position:absolute;
      a{
        background-size:140px auto;
      }
    }
    .header-inner{
      height:158px;
    }
    .nav-header{
      display:none;
      // margin:62px 0 0 57px;
    }
  }
  .header-pane{
    .introduce-menu{
      width:0;
      padding-left:34px;
      .title,.desc{
        display:none;
      }
    }
  }
  .util-box{
    margin-top:40px;
    align-self: unset;
  }
  .document-title.type-2 .title{
    font-size: 3.5vw;
  }
  .footer-top-menu{
    max-width: 1100px;
  }
  .footer-inner{
    max-width:1100px;
  }
}

@media (min-width: 768px) and (max-width: 1024px){
  .btn-gotop{
    right: 43px;
  }
  .header .header-wrap .nav-header .list-nav li{margin-right:10px;}
  #section-breadcrumb .breadcrume-wrap .util-box{margin-left:0;}
  .ui-selectmenu-button.ui-button{
    min-width:160px;padding:0 15px;
    .ui-selectmenu-text{margin:0 25px 0 0;}
  }
  .header{
    .logo {
      a {
        background:url("../images/main-logo_mo.png") no-repeat 50% 50%
      }
    }
    .nav-header{
      display:none;
    }
  }
  .footer-top-menu{
    .customer-list{
      margin-right: 15px;
    }
    ul{
      li{
        &:not(:last-child){
          margin-right: 15px;
        }
      }
    }
  }
}

@media (max-width: 767px){
  // .ie-inner{
  //   .tab_nav{
  //     margin: 0 -5vw;
  //   }
  // }
  //common



  .main-body{
    .instagram-list{
      li{
        &:last-child{
          display: none;
        }
      }
    }
  }
  .input-box {
    &.type2 {
      display: block;
      .input {
        width:100%;
      }
      select {display: block; width:100%; margin-top:5px; margin-left:0;}
      .flex-wrap {
        display: flex;
      }
    }
  }
  #section-sns{
    .inner{
      padding-top: 25px;
    }
  }
  .header{
    .logo {
      a {
        background:url("../images/main-logo_mo.png") no-repeat 50% 50%
      }
    }
    .nav-header{
      display:none;
    }
  }
  .side-menu{
    .lang-box{
      display: block;
      padding:0 10px;
      padding-top:10px;
      a{
        display:inline-block;
        padding:5px 10px;
        color:#666;
        font-family:'MadetommyM';
        font-size:16px;
      }
      .active{
        color:#000000;
      }
    }

    .inner {margin-top:0;padding:0;}
    .menu{
        border-bottom: 0;
        padding:0 10px 0 0;
        margin-bottom:0;
        a,.btn-toggle{
          position:relative;
          width:100%;
          padding:10px 40px;
          color:#000;
          font-family:'NotoB';
          font-size:24px;
          text-align:left;
          box-sizing:border-box;
        }
        .btn-toggle{
          margin-top:0;
          height:55px;
          &:after{
            display: block;;
            position:absolute;
            right:20px;
            top:25px;
            border-color:#cccccc #cccccc transparent transparent;
          }
          &:hover{
            background-color:transparent;
          }
          &.on{
            color:#0c3482;
            &:after{
              border-color:#000000 #000000 transparent transparent;
            }
          }
        }
    }

  
      
      .btn-close{
        position:absolute;
        top:25px;right:20px;
      }
 
      .list-nav{
        margin-top:40px;
        >li {
          width:100%; margin-left:0;
         
          &.pull-left-top{margin-left:0%; margin-top:0}
          &.pull-t200 {margin-top:0;}
          &.pull-t75 {margin-top:0;}
        }
      }
      
      .pane{
        display:none;
        padding:33px 40px 25px;
        background-color:#f5f5f5;
        .title{
          display:block;
          margin-bottom:8px;
          font-family:'NotoB';
          font-size:18px;
          &:not(:first-of-type){
            margin-top:20px;
          }
        }
        a{
          display:block;
          padding:8px 0;
          color:#666666;
          font-family:'NotoM';
          font-size:16px;
          line-height:1.2;
        }
      }
     }
     #section-visual-sub{
      height:100vh;
      .visual{
        padding:0 0 15% 0%;
        .title{
          .small{
            font-size:14px;
          }
          .main-visual-txt{
            font-size:36px;
          }
        }
      }
    }
    #section-breadcrumb{
      margin-top:100vh;
    }
    .breadcrume-wrap{
      .breadcrumb{
        width:100%;
        .icon-home{
          display:none;
        }
        .list-depth:not(:last-of-type){
          display:none;
        }
        .list-depth{
          width:100%;
          border-right:0 none;
        }
        .ui-selectmenu-button.ui-button:not(:last-of-type){display:none;}
        .ui-selectmenu-button.ui-button{width:100%;border-right:0 none;}
      }
      .util-box{
        display:none;
      }
    }
    #section-breadcrumb{
      &.fixed-breadcrumb{
        top:-100vh;
        .breadcrume-wrap{
          .util-box{display:none;}
        }
        &+div{
          margin-top:100vh;
        }
      }
    }
    
    .ui-selectmenu-button.ui-button{
      display:block;
      position:relative;
      width:100%;
      &:hover{
        border:0 none;
      }
      &:focus{
        border:0 none;
      }
      &.ui-selectmenu-button-open{
        border:0 none;
      }
    }
    .ui-selectmenu-menu{
      .ui-widget.ui-widget-content{
        border:0 none;
        border-bottom:1px solid #cccccc;
      }
    }
    .hashtag-box{
      .tag{
        margin-top:3px;
        margin-bottom:3px;
      }
    }
  
    .accordian-box{ 
      .title {font-size:18px}
      .item  {padding:20px 0}
    }
    .btn-gotop{
      bottom:50px;
      right:5vw;
      width:40px;
      height:40px;
      padding-top:17px;
      font-size:0;
      &:before{
        border-width:2px 0 0 2px;
      }
    }
    .footer-top-menu{
      padding: 33px 18px;
      border-top:1px solid #eee;
      border-bottom: 1px solid #eee;
      flex-direction: column;
      ul{
        display: block;
        li{
          display: inline-block;
          &:not(:nth-last-child(n+1):nth-last-child(-n+2)){
            margin-bottom: 8px;
          }
          &.require-text{
            margin-top: 12px;
            margin-right:24px !important;
          }
          &:not(:last-child){
            .bold-link{
              position: relative;
              // &::after{
              //   display: block;
              //   content: '';
              //   width: 2px;
              //   height: 10px;
              //   background-color:#ddd;
              //   position: absolute;
              //   right: -15px;
              //   top: 50%;
              //   transform: translateY(-50%);
              // }
            }
          }
          a{
            font-size: 16px;
            letter-spacing: -.56px;
          }
        }
      }
      .customer-list{
        margin-right: 0;
        li{
          &:not(:last-child){
            margin-right: 7px;
          }
          &:first-child{
            strong{
              // font-size: 18px;
            }
            &::after{
              transform: rotate(315deg);
              top: 30%;
            }
          }
          strong{
            @include Bold;
            font-size: 16px;
          }
        }
      }
    }
    .footer-inner{
      display:block;
      padding:33px 18px;
      box-sizing:border-box;
      .footer-familysite{
        display:none;
      }
    }
    .list-footer-menu{
      display:block;
      li{
        display:inline-block;
      }
    }
    .list-footer-company{
      dt,dd{
        font-size:14px;
      }
      dd:after{
        display:table;
        content:"";
        width:100%;
      }
    }
    .document-title{
      &.padding-set{ padding:40px 0 ; }
      &.type-2{
        .title{
          font-size:24px;
        }
      }
    }
    .btn-box{
      display:flex;
      [class*="btn-common"]{
        flex:1;
      }
    }
    .icheckbox{
      width:20px;
      height:20px;
      margin-top:0;
      &:after{
        width:8px;
        height:6px;
      }
    }
    .iradio{
      width:20px;
      height:20px;
      margin-top:0;
      &:after{
        width:12px;
        height:12px;
        margin-top:4px;
      }
    }
    .table{
      .caption{
        font-size:16px;
      }
      col{display:none;}
      .mo-hide{display:none !important;}
      .pc-hide{display:block !important;}
      &.type-write{
        th,td{
          padding-left:0;
          padding-right:0;
        }
      }
      &.type-mo{
        col{display:none;}
        .caption{padding-top:40px !important;}
        thead{display:none;}
        tr{
          display:block;
          position:relative;
          padding:5.55vw 0;
        }
        td{
          display:block;
          padding:1.11vw 3.33vw;
          font-size: 14px;
          &:before{
            display:inline-block;
            content: attr(data-title);
            width:70px;
            color:#000000;
            font-family:'NotoM';
          }
          &.download-cell{
            padding:0;
            position:absolute;
            top:50%;
            right:12px;
            margin-top:-12px;
    
          }
          &.download-cell .go-download{  }
          &.download-cell:before{
            display:none;
          }
        }
      }
    }
    .attr-box{width:100%;}
    .input-box{
      &.half{
        width:100%;
      }
      .dash{
         padding:0 10px;
        line-height:40px;
      }
    }
    
    .content-title{
      &.padding-set {
        padding-top:40px;
      }
      .title{
          font-size:24px;
      }
    }
  
    .degree-wrap  {
      overflow:auto;
      @include CustumScroll;
      margin-top:10px;
      .degree-item  {
        width:800px;
      }
    }
    // 페이징 반응형
    .pagination{
      .num{
        min-width: 0;
        margin-right: 16px;
        font-size: 18px;
        &:nth-last-child(n+1):nth-last-child(-n+6){
          display: none;
        }
      }
      [class*="arrow-"]{
        width: 30px;
        height: 30px;
        &::before,&::after{
          margin-top: 10px;
        }
      }
    }
}



  .main-body {//추가
    #section-esg{
      .inner {padding: 100px 0 160px}
      .list-esg {
        li {
          width:32%;
        }
      }
    }
    #section-recruit {
      padding:160px 0;
    }
    #section-business {
      background-color: #f5f5f5;
      .inner {
        padding:0;
        .title-text-box-common {padding:235px 0;}
      }    
    }

    .sns-title-wrap{
      display: flex;
      align-items: center;
      .tit{
        margin-bottom: 0;
        position: relative;
        &::after{
          display: block;
          content: '';
          width: 2px;
          height: 16px;
          background-color: #ccc;
          position: absolute;
          right: -20px;
          top: 50%;
          transform: translateY(-50%);
        }
      }
      .sub-tit{
        font-size: 18px;
        letter-spacing: -.72px;
        margin-left: 30px;
        span{
          @include Bold;
          margin-left: 5px;
        }
      }
    }
    .sns-sub-tit{
      &::after{
        display: block;
        content: '';
        position: absolute;
        width: 25px;
        height: 25px;
        background-repeat: no-repeat;
        left: -30px;
        top: 2px;
      }
      &::before{
        display: block;
        content: '';
        width: 6px;
        height: 6px;
        position: absolute;
        right: -13px;
        top: 50%;
        border-right: 2px solid #333;
        border-bottom: 2px solid #333;
        transform: rotate(-45deg) translateY(-50%);
      }
    }
    .list-img-banner{
      a{
        position: relative;
             
          .title{
            font-size: 24px;
            font-family: "NotoB";
            letter-spacing: -0.96px;
          }
          .desc{
            font-size:16px; line-height: 1.5; letter-spacing: -.32px; color:#666;overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
          }
        
      }
    }
    .youtube-pgrph-wrap{
      .sns-sub-tit{
        position: relative;
        &::after{
          background-image: url(../images/media/youtube-icon.png);
          top: 5px;
        }
      }
      .youtube-list {
        margin-top:16px;
        li{
          a{
            &::after{
              display: block;
              content: '';
              background-image: url(../images/media/youtube-play-btn.png);
              width: 80px;
              height: 80px;
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%,-50%)        ;
              -webkit-transform: translate(-50%,-50%);
              -moz-transform: translate(-50%,-50%);
              -ms-transform: translate(-50%,-50%);
              -o-transform: translate(-50%,-50%);
            }   
          }
        }
        .pic {
          position: relative; padding-bottom: calc(100% / 448*336);display: block;
          img { width:100%; height:100%;position:absolute; top:50%; left:50%; object-fit: cover;transform:translate(-50%,-50%) ; -webkit-transform:translate(-50%,-50%) ; -moz-transform:translate(-50%,-50%) ; -ms-transform:translate(-50%,-50%) ; -o-transform:translate(-50%,-50%) ; }
        }
        .title {
          display: block;
          font-size: 18px;
          font-family: "NotoR";
          position: absolute;
          bottom:0;
          background: rgba( 000, 000, 000, 0.7 );
          color:#fff;
          display: block;
          width:100%;
          padding:22px 32px;
          box-sizing: border-box;
          text-align:left;
          overflow: hidden;
          -o-text-overflow: ellipsis;
          text-overflow: ellipsis;
        //   display: -webkit-box;
          -webkit-line-clamp: 1;
          white-space: nowrap;
          -webkit-box-orient: vertical;
          
        }
      }
    }
    .insta-pgrph-wrap{ 
      .sns-sub-tit{
        position: relative;
        &::after{
          background-image: url(../images/media/instagram-icon.png);
        }
      }
    }
    .instagram-list{
      display: flex ;
      flex-wrap:wrap;
      margin-bottom: 48px;
      margin-top: 16px;
      li{
        width:18.81%;
        margin-bottom: 1%; margin-right:1%;
        a { 
          background:#f5f5f5;
          display: block; position: relative; padding-bottom: calc(100% / 164 * 164); overflow: hidden;
          img { 
            display: block; position: absolute; left:50%; top:50%; width:100%; object-fit: cover; max-width: inherit; min-width: 100%; height:100%; 
            transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%); -moz-transform: translate(-50%,-50%);  -o-transform: translate(-50%,-50%);}
        }
        &:not(:nth-child(6n)){
          margin-right: 1%;
         
        }

      }
    }
    .btn-wrap{
      display: flex;
      justify-content: center;
    }
  }

  @media (max-width: 1000px){
    #section-visual{
      .inner{
        .slide-cont{
          padding-left: 5vw !important;
        }
      }
    }
    .main-body{
      .wrap-layer.main-popup{
        overflow:hidden;
        position:fixed;
        top:auto;
        bottom:0;
        left:0;
        width:100% !important;
        height:auto !important;
        border-radius:10px 10px 0 0;
      }
      .box-tab{
        margin-top:30px;
        width:100%;
        .list-tab{
          display:block;
          overflow-x:scroll;
          width:100%;
          white-space: nowrap;
          padding-bottom: 25px;
          &::-webkit-scrollbar{
            height: 7px;
            width: 100%;
          }
          &::-webkit-scrollbar-thumb{
            background-color: rgba( 000, 000, 000, 0.7 );      
          }
          &::-webkit-scrollbar-track{
            background-color: gray;    
          }
          &::-webkit-scrollbar-button:start:decrement,
          &::-webkit-scrollbar-button:end:increment{
            display: block; 
            width: 12px;
            height: 12px; 
            background:rgba(0,0,0,.08);
          }
          li{
            display:inline-block;
            position:relative;
            padding-left:0;
            .figure{
              display:block;
              position:static;
              width:100%;
            }
            .title{
              position:absolute;
              top:10px;
              left:10px;
              margin-left:0;
              color: #fff;
              font-family: 'NotoB';
              &:before{display:none;}
              &:after{display:none;}
            }
            &.active{
              .title{position:absolute;}
            }
            &:first-child{
              &::after{
                display: block;
                content: '';
                width:96px;
                height:96px;
                background-image: url(../images/main/slide-icon.png);
                background-repeat: no-repeat;
                position: absolute;
                left:50%;
                top:50%;
                transform: translate(-50%,-50%);
              }
            }
            &:active{
              &::after{
                display: none;
              }
            }
          }
        }
      }
      #section-business{
        .inner {
          padding:0 5vw;
          .title-text-box-common {
            text-align:center;
            padding:14.22vw 0;
            display: block;
            .type2 {
              .char {font-size:53px;}
            }
          }
        }
        
      }
      #section-product {padding:0 5vw 0;}
      #section-esg {
        .inner {
          padding:14.22vw 5vw;
          .title-text-box-common{padding:0;margin-bottom: 8.33vw;}
        
        }
        .list-esg {
          // overflow-x: inherit;
          li {
             width: 100%;
          }
        }
      } 
      #section-media {
        .inner{
          padding:14.22vw 5vw;
          .title-text-box-common{padding:0}
          .list-img-banner {margin-top:0;
            li {margin-top:8.88vw}
          
          }

        } 
      }
      #section-recruit {
        padding:14.22vw 5vw 0;
        .info-box-wrap{margin:22.22vw -5vw 0;
          display: block;
          padding:20px 0;
          background-color: #f5f5f5;
          .info-box{
            display: block;
            width: 80%;
            margin:0 auto;
            padding:30px 10%;
            &:first-of-type{
              border-top:0 none;
            }
            .flex-box{
              display:flex;
              .main-info-number{
                font-size:48px;
                letter-spacing:0px;
              }
              span{
                display:flex;
                align-items: end;
                padding:15px 0 0 10px;
                color:#0c3482;
                font-size:22px;
                font-family: 'MadetommyM';
                font-weight:normal;
                letter-spacing: 0;
                white-space: nowrap;
              }
            }  
            .text{
              margin-top:15px;
            }
            .title{
              margin-bottom:10px;
              font-size: 18px;
              small{
                font-size:18px;
              }
            }
            .info-text{
              color :#8d939c;
              padding:10px 0 55px 0;
            }
          }
        }
      }
      #section-ir {
        .inner {
          padding:20vw 5vw;
         
        }
        .news-box{
          .list-news{
            .item{
              .desc { 
                overflow:hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;}

            } 

          } 

        } 
      }

      #section-sns{
        .inner {
          display: block; padding: 16.66vw 5vw;
          .youtube-pgrph-wrap {
            width:100%;
            margin-bottom:5.55vw;
            .youtube-list {
              li {
                .title{

                }
              }
            }
          }
          .insta-pgrph-wrap {width:100%; margin-left:0;margin-top:50px;
            .instagram-list{margin-bottom:0}
          
          }
        }
        .instagram-list {
          li {
            width:31.1%;
            margin-bottom:3.33%;
            &:not(:nth-child(6n)){
              margin-right: 3.33%;
            }
            &:nth-child(3n){
              margin-right: 0
            }
          a {
            padding-bottom: calc(100% / 200 * 200);
          }
          }
        }
      }
      
      .box-tab {
        .list-tab{
          li{
            &.active{
              .title {color: #fff;}
            } 

          }

        } 
      }

    }
  }
  
  