.test-section {
  .section {
    width: 100%;
    height: 100vh;
    position: relative;
  }

  #section1 {
      background-color: aliceblue;
  }

  #section2 {
      background-color: lightpink;
  }

  #section3 {
      background-color: coral;
  }

  #section4 {
      background-color: aqua;
  }
}
