.section{width: 100%; height: 100%; position: relative; background: #fff;}
.sub-bg{background: url(../images/business/business_sub_visual.png) no-repeat; background-size: cover;}
.content-wrap .title-txt{margin-bottom: 0;}
.content-wrap .title-txt p{font-size: 20px; line-height: 34px;}

.sub-content{overflow: hidden;}
.overview .con-title{font-family: 'NotoB'; font-size: 40px; letter-spacing: -0.03em; color: #323232; margin-right: 70px;}
.overview.section01 .main-title-wrap{padding: 160px 0 200px;}
.overview.section02 .content-wrap{display: flex; margin-bottom: 80px;}
.overview.section02 .content-wrap .title-txt{flex: 1; line-height: 34px;}
.overview.section02 .content-wrap .title-txt p{word-break: keep-all;}
.overview.section02 .section02-img{display: flex; justify-content: flex-end; overflow: hidden; transform: scale(0.9);}
.overview.section03 .content-wrap{padding-top: 249px; display: flex; margin-bottom: 80px; position: relative;}
.overview.section03 .bot-content:before{position: absolute; content: ''; background: #f6f6f6; width: 100vw; height: 809px; top: -240px; left: 50%; transform: translateX(-50%);}
.overview.section03 .content-wrap .title-txt{flex: 1; line-height: 34px;}
/* .overview.section03 .section03-bg{position: absolute; bottom: 0; background: #f6f6f6; width: 100%; height: 752px;} */
.overview.section03 .section03-img{position: relative; z-index: 10; overflow: hidden; transform: scale(0.9);}
.overview.section03 .content-wrap.bot-content{padding-top: 80px; margin-bottom: 0; padding-bottom: 120px; position: relative; z-index: 1; flex-wrap: wrap; gap: 60px 90px; justify-content: space-between;}
.overview.section03 .content-wrap.bot-content .item{flex: 0 0 45%;}
.overview.section03 .content-wrap.bot-content .item p:first-child{font-family: 'NotoB'; font-size: 24px; letter-spacing: -0.03em; color: #323232; margin-bottom: 20px;}
.overview.section03 .content-wrap.bot-content .item p:nth-child(2){color: #4e4e4e; font-size: 18px; line-height: 30px; word-break: keep-all;}
.overview.section04 .content-wrap{padding-top: 249px; display: flex; margin-bottom: 80px;}
.overview.section04 .content-wrap .con-title{margin-right: 165px;}
.overview.section04 .content-wrap .title-txt{flex: 1; line-height: 34px;}
.overview.section04 .section04-img{display: flex; justify-content: flex-end; transform: scale(0.9);}
.overview.section04 .content-wrap.bot-content{padding-top: 80px; margin-bottom: 0; padding-bottom: 240px; justify-content: space-between;}
.overview.section04 .content-wrap.bot-content .box{flex: 0 0 32%;}
.overview.section04 .content-wrap.bot-content .box .logo-box{height: 75px; margin-bottom: 42px;}
.overview.section04 .content-wrap.bot-content .box .logo-desc p:first-child{font-size: 20px; font-family: 'NotoB'; letter-spacing: -0.03em; color: #323232; margin-bottom: 10px;}
.overview.section04 .content-wrap.bot-content .box .logo-desc p:nth-child(2){font-size: 18px; letter-spacing: -0.03em; color: #4e4e4e;}

.overview.go-product-btn{width: 100%; background: #b4b4b4; transition: background 0.5s ease-in-out; text-align: center;}
.overview.go-product-btn:hover{background: #ff8b23;}
.overview.go-product-btn a{width: 100%; display: inline-block; padding: 30px 0; color: #ffffff; font-family: 'NotoB'; font-size: 20px; letter-spacing: -0.03em;}
.overview.go-product-btn a span{display: inline-block; position: relative;}
.overview.go-product-btn a span:before{position: absolute; content: ''; width: 2px; height: 13px; background: #ffffff; right: -25px; top: 3px; transform: rotate(-45deg);}
.overview.go-product-btn a span:after{position: absolute; content: ''; width: 2px; height: 13px; background: #ffffff; right: -25px; bottom: 3px; transform: rotate(45deg);}

.product.section01 .main-title-wrap{padding-bottom: 60px;}
.product.section02 .content-wrap{display: flex; justify-content: center; padding-bottom: 240px;}
/* .product.section02 .section02-top-bg{background: url(../images/business/product-top-bg.png) no-repeat; background-size: cover; height: 400px;} */
.product.section02 .content-wrap > div + div{margin-left: 100px;}
.product.section02 .content-wrap .item .title{ font-size: 26px; letter-spacing: -0.03em; color: #323232;}
.product.section02 .content-wrap .item .title span{display: inline-block; font-size: 50px; font-family: 'NotoB'; letter-spacing: -0.03em; padding-left: 40px;}
.product.section02 .content-wrap .item .title span > span{font-size: 22px; font-family: 'NotoB'; letter-spacing: -0.03em; padding-left: 0;}
.product.section02 .content-wrap .item .title{margin-bottom: 21px;}
.product.section02 .content-wrap .item .desc{font-size: 16px; color: #4e4e4e; letter-spacing: -0.03em; line-height: 26px;}

.product.section03 .content-wrap{padding-bottom: 240px;}
.product.section03 .main-title-wrap{padding: 0px 0px 60px;}
.product.section03 .box{display: flex; justify-content: space-between;}
.product.section03 .box:nth-child(1){padding-bottom: 50px; border-bottom: 1px solid #d6d6d6;}
.product.section03 .box:nth-child(2){padding-top: 50px;}
.product.section03 .box .box-title{font-size: 24px; color: #323232; letter-spacing: -0.03em; font-family: 'NotoB'; margin-bottom: 20px;}
.product.section03 .box .desc{font-size: 16px; color: #4e4e4e; letter-spacing: -0.03em;}



.product.section04 .content-wrap{padding-bottom: 240px;}
.product.section04 .main-title-wrap{padding: 0px 0px 60px;}
.product.section04 .product-tab-menu{margin-bottom: 50px;}
.product.section04 .product-tab-menu ul{display: flex; overflow: hidden; overflow-x: auto;}
.product.section04 .product-tab-menu ul li{width: 20%; min-width: 150px; text-align: center; box-sizing: border-box; border-bottom: 1px solid #d6d6d6;}
.product.section04 .product-tab-menu ul li.active{border-bottom: 1px solid #ff8b23;}
.product.section04 .product-tab-menu ul li a{display: block; padding: 15px 0; color: #8f8f8f;}
.product.section04 .product-tab-menu ul li.active a{color: #323232; font-family: 'NotoB';}
.product.section04 .thumb-top{position: relative; margin-bottom: 76px;}
.product.section04 .thumb-btn{position: absolute; right: 0; bottom: -49px; background: #ff8b23; border: 1px solid #ff8b23; transition: background .5s, color .3s ease-in-out;}
.product.section04 .thumb-btn a{display: block; padding: 13px 40px; color: #fff; font-family: 'NotoM';}
.product.section04 .thumb-btn:hover{background: #fff; border: 1px solid #ff8b23;}
.product.section04 .thumb-btn:hover a{color: #ff8b23}
.product.section04 .thumb-bottom{display: flex; justify-content: space-between;}
.product.section04 .thumb-title p{font-family: 'NotoB'; font-size: 48px; letter-spacing: -0.03em; color: #323232;}
.product.section04 .thumb-info > ul{margin-bottom: 30px;}
.product.section04 .thumb-info > ul li{color: #4e4e4e; letter-spacing: -0.03em; line-height: 38px; position: relative; padding-left: 15px;}
.product.section04 .thumb-info > ul li:before{position: absolute; content: ''; width: 5px; height: 5px; border-radius: 50%; background: #666666; top: 50%; left: 0px; transform: translateY(-50%); display: inline-block;}
.product.section04 .thumb-info-img{border-top: 1px solid #d9d9d9; padding-top: 30px;}
.product.section04 .thumb-info-img p{font-family: 'NotoB'; font-size: 20px; letter-spacing: -0.03em; color: #323232; margin-bottom: 20px;}
.product.section04 .thumb-info-img ul{display: flex;}
.product.section04 .thumb-info-img ul li + li{margin-left: 20px;}
.product.section04 .thumb-info-img ul li span{display: block; text-align: center; margin-top: 15px; letter-spacing: -0.03em; color: #666666;}


@media all and (min-width: 1440px){

}


@media all and (max-width: 1080px){
  .product.section02 .content-wrap .item .title span{padding-left: 20px;}
  .product.section04 .thumb-bottom{flex-direction: column; align-items: center;}
  .overview-txt-slide .txt-box{left: 60px;}
  .swiper-controller-wrap{right: 60px;}
}


@media all and (max-width: 1030px){
  .overview.section01 .content-wrap .title p{font-size: 38px; line-height: 50px;}
  .overview .con-title{font-size: 30px; margin-right: 35px;}
  .overview.section02 .content-wrap .title-txt p br{display: none;}
  .overview.section03 .content-wrap .title-txt p br{display: none;}
  .overview.section04 .content-wrap .title-txt p br{display: none;}
  .overview.section03 .content-wrap.bot-content .item{flex: 0 0 43%;}

  .product.section04 .thumb-title{margin-bottom: 30px;}
  .product.section02 .content-wrap > div + div{margin-left: 50px;}
  .product.section02 .content-wrap .item .title span{display: block; padding-left: 0; font-size: 40px;}
  .product.section02 .content-wrap .item .title span > span{display: inline-block;}
  
}




@media all and (max-width:768px) {
  .sub-bg{background: url(../images/business/business_sub_visual_mo.png) no-repeat; background-size: cover;}
  .content-wrap .title{margin-bottom: 20px;}
  .content-wrap .title-txt p{font-size: 16px; line-height: 26px;}

  .overview .con-title{font-size: 24px;}
  .overview.section01 .content-wrap .title{margin-bottom: 0px;}
  .overview.section01 .main-title-wrap{padding: 60px 0 120px;}
  .overview.section01 .content-wrap .title p{font-size: 28px; line-height: 40px;}
  .overview.section02 .content-wrap{flex-direction: column; gap: 20px; margin-bottom: 50px;}
  .overview.section02 .content-wrap .title-txt p{word-break: break-all;}
  .overview.section03 .content-wrap{padding-top: 120px; flex-direction: column; gap: 20px; margin-bottom: 50px;}
  


  .product.section01 .main-title-wrap{padding-bottom: 30px;}
  .product.section02 .content-wrap .item .title{font-size: 18px; font-family: 'NotoM';}
  .product.section02 .content-wrap .item .title span{font-size: 30px;}
  .product.section02 .content-wrap .item .title span > span{font-size: 16px;}
  .product.section02 .section02-top-bg{margin-bottom: 30px;}
  .product.section02 .section02-top-bg img{height: 200px; object-fit: cover;}
  .product.section02 .content-wrap{flex-direction: column; align-items: center; padding-bottom: 120px;}
  .product.section02 .content-wrap > div{text-align: center;}
  .product.section02 .content-wrap > div + div{margin-left: 0; margin-top: 50px;}
  .product.section02 .content-wrap .item .title{margin-bottom: 10px;}
  .product.section03 .content-wrap{padding-bottom: 120px;}
  .overview.section02 .section02-img{transform: scale(1);}
  .product.section03 .main-title-wrap{padding: 0px 0px 40px;}
  .overview.section03 .content-wrap.bot-content{gap: 40px; padding-bottom: 80px;}
  .overview.section03 .bot-content:before{top: -70px; height: 903px;}
  .overview.section03 .content-wrap .title-txt p br{display: block;}
  .overview.section03 .content-wrap.bot-content{padding-top: 50px;}
  .overview.section03 .content-wrap.bot-content .item p:first-child{font-size: 20px;}
  .overview.section03 .content-wrap.bot-content .item p:nth-child(2){font-size: 16px; line-height: 26px;}
  .overview.section04 .content-wrap{padding-top: 120px; flex-direction: column; gap: 20px; margin-bottom: 50px;}
  .overview.section04 .content-wrap .con-title{margin-right: 0;}
  .overview.section04 .content-wrap.bot-content{padding-top: 50px; gap: 60px; padding-bottom: 180px;}
  .overview.section04 .content-wrap.bot-content .box .logo-box{margin-bottom: 20px;}
  .overview.section04 .content-wrap.bot-content .box .logo-desc p:first-child{font-size: 18px;}
  .overview.section04 .content-wrap.bot-content .box .logo-desc p:nth-child(2){font-size: 16px;}
  .overview.go-product-btn a{font-size: 16px;}
  .overview.go-product-btn a span{margin-left: -13px;}
  .overview.go-product-btn a span:before{top: 0;}
  .overview.go-product-btn a span:after{bottom: 0;}
  .overview.section03 .section03-img{transform: scale(1);}
  .product.section03 .box{flex-direction: column;}
  .product.section03 .box .box-title{font-size: 20px;}
  .product.section03 .box .desc{font-size: 16px; padding-bottom: 20px; line-height: 26px;}
  .product.section04 .content-wrap{padding-bottom: 180px;}
  .overview.section04 .section04-img{transform: scale(1);}
  .product.section04 .thumb-top img{width: 100%; height: 200px; object-fit: cover;}
  .product.section04 .thumb-btn{bottom: -39px;}
  .product.section04 .thumb-btn a{font-size: 12px; padding: 10px 30px;}
  .product.section04 .thumb-bottom{align-items: flex-start;}
  .product.section04 .thumb-title{margin-bottom: 10px;}
  .product.section04 .thumb-title p{font-size: 28px;}
  .product.section04 .thumb-info > ul li{font-size: 16px; line-height: 26px;}
  .product.section04 .thumb-info > ul li + li{margin-top: 10px;}
  .product.section04 .thumb-info > ul li:before{top: 15px;}
  .product.section04 .thumb-info-img p{font-size: 18px;}
  .product.section04 .thumb-info-img ul li + li{margin-left: 10px;}
  .product.section04 .thumb-info-img ul li span{margin-top: 10px; font-size: 12px;}
}

@media all and (max-width: 450px){
  .overview.section03 .bot-content:before{height: 1039px;}
  .content-wrap .title-txt p br{display: none;}
  .overview.go-product-btn{display: none;}
}