.header * {box-sizing: border-box;}
.header {position: fixed; width: 100%; z-index: 10;}
.header-wrap {display: flex; justify-content: space-between; align-items: flex-start; padding:15px 100px;}

.header-wrap .logo a{width: 100px; height: 50px; display: block; background-image: url(../images/main/logo_w.svg); background-repeat: no-repeat; background-size: contain; background-position: 50% 50%;}
/* .header-wrap .logo a {color:#fff; font-family: 'Arsenal'; font-weight: 700;  font-size: 40px;  line-height: 50px; letter-spacing: -0.03em; } */
.header-wrap .utill-box{display: flex; align-items: center;}
.header-wrap .lang-select{display: flex; position: relative; overflow: hidden; width: 80px; margin-right: 20px;}
.header-wrap .lang-select::after {content: ""; display: block; position: absolute; right: 24px; top: 50%; width: 9px; height: 9px; margin-top: -7px; border-bottom: 2px solid #fff; border-right: 2px solid #fff; transform-origin: 66% 66%; transform: rotate(45deg); transition: all 0.15s ease-in-out;}
.header-wrap .lang-select a {display: flex; color: #fff; align-items: center; justify-content: flex-start; width: 100%; height: 42px; font-size: 14px; font-family: 'NotoB';}
.header-wrap .lang-select .current {padding-left: 18px; padding-right: 30px; border: 1px solid #d7d7d7;}
.header-wrap .lang-select .current.active {color: #ff8b23;}
.header-wrap .lang-select .lang-list {overflow: hidden; position: absolute; top: calc(100% - 1px); left: 0; z-index: -1; width: 100%; padding: 20px 0; background: #fff; border: 1px solid #d7d7d7; opacity: 0; transform-origin: 50% 0; transform: translateY(-21px); transition: all 0.2s ease, opacity 0.15s ease-out;}
.header-wrap .lang-select .lang-list li a {height: 30px; padding: 0 18px; color: #4e4e4e;}
.header-wrap .lang-select .lang-list li.active a {color: #ff8b23; font-family: 'NotoB';}
.header-wrap .lang-select::after {right: 12px; width: 7px; height: 7px; margin-top: -6px;}
.header-wrap .lang-select .current {border: 0;}
.header-wrap .lang-select .lang-list li a {justify-content: center; height: 30px;}
.header-wrap .lang-select.up .lang-list {top: auto; bottom: calc(100% - 1px); transform-origin: 0 100%; transform: translateY(21px); padding-bottom: 10px;}
.header-wrap .lang-select.active {overflow: visible;}
.header-wrap .lang-select.active::after {transform: rotate(-135deg);}
.header-wrap .lang-select.active .lang-list {opacity: 1; z-index: 3; transform: translateY(0);}
.header-wrap .utill-box .menu {display: flex; flex-direction: column; gap: 6px; cursor: pointer; padding:16px 0}
.header-wrap .utill-box .menu span{display: block; width: 21px; height: 2px; background: #fff;
  -webkit-transition: width 0.2s ease-out;
  -moz-transition: width 0.2s ease-out;
  -ms-transition: width 0.2s ease-out;
  -o-transition: width 0.2s ease-out;
  transition: width 0.2s ease-out;
}
.header-wrap .utill-box .menu span:nth-child(2){width: 14px;}
.header-wrap .utill-box .menu:hover span:nth-child(2){width: 21px;}

.header-wrap .nav-bg{position: absolute; width: 100%; height: 0; left: 0; top: 0; background: #323232; z-index: -1; ;
  -webkit-transition: height 0.4s ease-out;
  -moz-transition: height 0.4s ease-out;
  -ms-transition: height 0.4s ease-out;
  -o-transition: height 0.4s ease-out;
  transition: height 0.4s ease-out;}
.header-wrap .nav > ul {display: flex; align-items: flex-start;position: relative;}
.header-wrap .nav > ul > li > a {display: block; font-family: 'NotoB';  font-size: 16px; line-height: 22px;  letter-spacing: -0.03em; color: #ECECEC; padding:15px 40px 11px 40px;}
.header-wrap .nav > ul > li > a:hover,
.header-wrap .nav > ul > li.on > a {color:#FF8B23}
/* .header-wrap .nav > ul > li > .depth_2 {overflow: hidden; position: absolute; height:0%; z-index: 10; min-width:115px; padding-top:20px; margin-left:20px; 
  -webkit-transition: height 0.4s ease-out;
  -moz-transition: height 0.4s ease-out;
  -ms-transition: height 0.4s ease-out;
  -o-transition: height 0.4s ease-out;
  transition: height 0.4s ease-out;} */
  .header-wrap .nav > ul > li > .depth_2 {/*overflow: hidden;*/ position: absolute; height:0%; z-index: 10; min-width:115px; padding-top: 0px; margin-left:20px; display: none; 
    -webkit-transition: height 0.4s ease-out;
    -moz-transition: height 0.4s ease-out;
    -ms-transition: height 0.4s ease-out;
    -o-transition: height 0.4s ease-out;
    transition: height 0.4s ease-out;}
  .header-wrap .nav > ul > li > .depth_2 .menu_intro{position: absolute; left: -310px; top: 10px;}
  .header-wrap .nav > ul > li:nth-child(2) > .depth_2 .menu_intro{left: -447px;}
  .header-wrap .nav > ul > li:nth-child(3) > .depth_2 .menu_intro{left: -584px;}
  .header-wrap .nav > ul > li:nth-child(4) > .depth_2 .menu_intro{left: -694px;}
  .header-wrap .nav > ul > li:nth-child(5) > .depth_2 .menu_intro{left: -816px;}
  .header-wrap .nav > ul > li > .depth_2 .menu_intro .menu_title{color: #fff; font-size: 22px; font-family: 'NotoB'; letter-spacing: -0.03em; margin-bottom: 10px;}
  .header-wrap .nav > ul > li > .depth_2 .menu_intro .menu_desc{color: #c3c3c3; font-size: 14px; letter-spacing: -0.03em; line-height: 24px;}
  .header-wrap .nav > ul > li > .depth_2 > ul { border-left:solid 1px #696969;}
  /* .header-wrap .nav > ul > li > .depth_2 > ul > li > a {display: block; font-family: 'NotoR'; font-size: 16px; line-height: 22px; letter-spacing: -0.03em; color: #C3C3C3; position: relative; padding-left:20px; margin:20px 0 18px 0;} */
  .header-wrap .nav > ul > li > .depth_2 > ul > li > a {display: block; font-family: 'NotoR'; font-size: 14px; letter-spacing: -0.03em; color: #C3C3C3; position: relative; padding-left:20px; margin: 10px 0 10px 0;}
  .header-wrap .nav > ul > li > .depth_2 > ul > li > a:hover,
  .header-wrap .nav > ul > li > .depth_2 > ul > li.active > a:hover {color:#FFFFFF;}
  .header-wrap .nav > ul > li > .depth_2 > ul > li > a:hover::before,
  .header-wrap .nav > ul > li > .depth_2 > ul > li.active > a::before {content:''; position: absolute; z-index: 1; left:-1px; top:0; height:100%; width:2px; background:#FF8B23;}


  .header.dark .header-wrap .logo a {background-image: url(../images/main/logo.svg);}
  .header-wrap .header-wrap .logo.dark a{background-image: url(../images/main/logo.svg);}
  /* .header.dark .header-wrap .logo a {color: #323232;}
  .header-wrap .header-wrap .logo.dark a{color: #323232;} */
  .header.dark .lang-select a{color: #323232;}
  .header.dark .lang-select::after{border-bottom: 2px solid #323232; border-right: 2px solid #323232;}
  .header.dark .header-wrap .nav > ul > li > a {color: #323232;}
  .header.dark .header-wrap .menu span{background: #323232;}
  
  /* .header.on .header-wrap {background: #323232;} */
  .header.on .header-wrap .nav-bg{opacity: 1; height: 260px;} 
  .header.on .header-wrap .nav > ul > li.on .depth_2 {opacity: 1; height: 190px; display: block;}  
  
  
  .header.dark.on .header-wrap .logo a {background-image: url(../images/main/logo_w.svg);}
  .header.dark.on .header-wrap .nav > ul > li > a {color: #fff;}
  .header.dark.on .header-wrap .nav > ul > li.on > a {color:#FF8B23}
  .header.dark.on .header-wrap .menu span{background: #fff;}
  
  .header.fixed-header.on .header-wrap .logo a {color: #fff;}
  .header.fixed-header.on .header-wrap .nav > ul > li a{color: #fff;}
  .header.fixed-header.on .header-wrap .nav > ul > li.on > a {color:#FF8B23}
  .header.fixed-header.on .header-wrap .nav > ul > li a:hover {color:#FF8B23}
  .header.fixed-header.on .header-wrap .menu span{background: #fff;}
  


#gnb {display: none; position: absolute; z-index: 100; left:0; right:0; top:0; width: 100vw; height: 100vh;  background: rgba(0,0,0,.95); transition: top .3s, opacity .3s ease-in-out;}
#gnb.open {display: block;}
#gnb .gnb-header {position: fixed; z-index: 100; width: calc(100%); display: flex; justify-content: space-between; align-items: center; padding:24px 100px;}
#gnb .gnb-header .logo a {width: 80px; height: 50px; display: block; background-image: url(../images/main/logo_w.svg); background-repeat: no-repeat; background-size: contain; background-position: 50% 50%;}
/* #gnb .gnb-header .logo a {color: #fff;  font-family: 'Arsenal'; font-weight: 700;  font-size: 40px;  line-height: 50px;  letter-spacing: -0.03em;} */
#gnb .gnb-close{width: 30px; height: 30px; line-height: 30px; }
#gnb .gnb-close .close-btn{width: 30px; height: 30px; display: flex; justify-content: center; align-items: center; transform: rotate(-.25turn); transition: all .2s cubic-bezier(.42,0,.58,1) 10ms; cursor: pointer;}
#gnb .gnb-close .close-btn:hover{transform: rotate(0turn);}
#gnb .gnb-close .close-btn span{display: inline-block; width: 20px; height: 3px; background: #fff;transform: rotate(-45deg); position: relative;}
#gnb .gnb-close .close-btn span:after{position: absolute; left: 0; top: 0; content: ''; width: 20px; height: 3px; background: #fff; transform: rotate(-90deg);}

#gnb .gnb-inner { padding:24px 100px; width: calc(100%); height: calc(100%) ;  display: flex; align-items: center; position: relative; z-index: 10;}
#gnb .gnb-menu{max-width: 980px; margin: 0 auto; display: flex; gap: 100px;}
#gnb .gnb-menu > li{position: relative;}
#gnb .gnb-menu > li h2{font-size: 30px; font-family: 'NotoB'; font-weight: normal; letter-spacing: -0.03em; color: #ff8b23; margin-bottom: 20px;}
#gnb .gnb-menu > li >.gnb-depth2 {margin-left:-20px; border-left: 1px solid #404040;}
#gnb .gnb-menu > li>.gnb-depth2 > li {margin:15px 0;}
#gnb .gnb-menu > li>.gnb-depth2 > li a {display: block; position: relative;  font-family: 'NotoR'; font-size: 18px; font-weight: normal; color:#fff; padding:0 0 0 20px; display: block; color:#838383}
#gnb .gnb-menu > li>.gnb-depth2 > li a:hover {color:#fff;}
#gnb .gnb-menu > li>.gnb-depth2 > li a:hover::before {content:''; position: absolute; left:-1px; top:0; height:100%; width:2px; background-color: #ff8b23;}

#gnb .gnb-bottom{position: absolute; bottom: 70px; right: 290px;}
#gnb .gnb-bottom ul{display: flex; justify-content: flex-end; gap: 20px;}
#gnb .gnb-bottom ul li a{display: block; font-size:14px; color: #909090; transition: color .3s ease-in-out;}
#gnb .gnb-bottom ul li a:hover{color: #fff;}  


#fp-nav{position: fixed; z-index: 9; left: 130px; top: 50%; transform: translateX(-50%); width: 100px;}
#fp-nav li {position: relative; margin: 27px 0 0 0;}
#fp-nav li:first-child{margin-top: 0;}
#fp-nav li:last-child{display: none;}
#fp-nav li a{display: block; transition: color .2s cubic-bezier(0.55,0.055,0.675,0.19);}
#fp-nav li a span{display: inline-block; background:  #FF8B23; overflow: hidden; opacity: 1;}
#fp-nav li a.active span{background: none;}
#fp-nav li a:after{display: block;content: ""; width: 0px; height: 2px; position: absolute; left: -80px; top: 50%; background: #FF8B23; transition: width .4s;}
#fp-nav li a.active:after{width: 80px;}
#fp-nav li a + .fp-tooltip{position: absolute; left: 0; top: 0; font-size: 16px; font-family: 'NotoB'; color: #BBB; cursor: pointer; margin-left: 14px;}
#fp-nav li a.active + .fp-tooltip{color: #fff;}
#fp-nav li a.active + .fp-tooltip.dark{color: #323232;}
.fp-viewing-1 #fp-nav li a.active + .fp-tooltip{color: #323232;}
.fp-viewing-3 #fp-nav li a.active + .fp-tooltip{color: #323232;}
.fp-viewing-0 #fp-nav li a.active + .fp-tooltip{color: #fff;}
.fp-viewing-2 #fp-nav li a.active + .fp-tooltip{color: #fff;}


.footer{width: 100%; background: #363636; padding: 50px 0 30px;}
.footer-wrap{width: calc(100% - 64rem); margin: 0 auto; height: 100%; display: flex; flex-direction: column; justify-content: center; padding-bottom: 0;}
.footer-top{display: flex; justify-content: space-between; margin-bottom: 30px;}
/* .footer-top .logo{color: #909090 !important; font-size: 35px;} */
.footer-top .f-logo{flex: 0 0 33.3333%;}
.footer-top .f-logo .logo{width: auto; height: auto; display: block;}
.footer-top .f-logo .logo a {width: 93px; height: 30px; display: block; background-image: url(../images/main/logo_w.svg); background-repeat: no-repeat; background-size: contain; background-position: center top;}
.footer-top .f-logo p{font-family: 'NotoR'; font-size: 14px; color: #909090;}
/* .footer-top .f-logo .logo a {font-family: 'Arsenal';  font-weight: 700; font-size: 35px; line-height: 44px;}
.footer-top .f-logo p{font-family: 'NotoR'; font-size: 14px; color: #909090;} */
.footer-top .f-nav{display: flex; justify-content: space-between; flex: 0 0 50%;;}
.footer-top .f-nav dt{font-family: 'NotoM'; font-size: 18px; font-weight:500; color: #ececec; letter-spacing: -0.03em; margin-bottom: 10px;}
.footer-top .f-nav dd a{font-family: 'NotoM'; font-size: 14px; color: #909090; letter-spacing: -0.03em; line-height: 36px;;}

.footer-bottom{display: flex; justify-content: space-between; padding-top: 10px; border-top: 1px solid #575757; align-items: center;}
.footer-bottom .f-info-wrap .f-menu{margin-bottom: 10px;}
.footer-bottom .f-info-wrap .f-menu ul{display: flex; gap: 20px; justify-content: space-between;}
.footer-bottom .f-info-wrap .f-menu ul li a{display: block; font-size: 14px; color: #909090;}
.footer-bottom .f-info-wrap .info{line-height: 23px; margin-bottom: 10px;}
.footer-bottom .f-info-wrap .info dl{display: flex; color: #909090;}
.footer-bottom .f-info-wrap .info dl dt{padding-right: 5px; font-size: 14px;}
.footer-bottom .f-info-wrap .info dl dd{padding-right: 10px; font-size: 14px;}
.footer-bottom .f-info-wrap .info address{font-size: 14px; color: #909090;}
.footer-bottom .f-info-wrap .info address span{display: inline-block; padding-right: 5px;}
.footer-bottom .f-info-wrap .copy p{font-size: 12px; color: #909090;}
.footer-bottom .f-site-wrap{text-align: right;}
.footer-bottom .f-site{margin-bottom: 16px;}
.footer-bottom .f-site select{width: 197px; height: 40px; border: 1px solid #909090; padding-left: 9px; color: #909090; background: url('../images/main/foot-site-icon.png') no-repeat 95% center;}
.footer-bottom .privacy ul{display: flex; gap: 20px;}
.footer-bottom .privacy ul li a{display: block; font-size: 12px; color: #909090;}

.scroll-top-btn{width: 64px; height: 64px; position: fixed; opacity: 0; visibility: hidden; bottom: 50px; right: 50px; box-shadow: 5px 5px 5px rgb(0 0 0 / 10%); background: #ff8b23 url(../images/main/scroll-top-btn.png) no-repeat center; transition: opacity 0.5s, visibility 0.5s; cursor: pointer; z-index: 1000;}
.scroll-top-btn.on{opacity: 1; visibility: visible;}

@keyframes bg-scale { 
  0% {-webkit-transform: scale(1); -moz-transform: scale(1); -o-transform: scale(1); transform: scale(1); }
	100% {-webkit-transform: scale(1.1); -moz-transform: scale(1.1); -o-transform: scale(1.1); transform: scale(1.1); } }

[data-aos="aniLine"] {transition-property: transform;}
[data-aos="aniLine"].aos-animate {animation: separator-width 1.5s ease-in-out forwards;}
  @keyframes separator-width {
    0% {
      height: 0;
    }
    100% {
      height: 100%;
    }
  }
  

/*sub-page*/


.sub-visual{width: 100%; height: 600px; position: relative; overflow: hidden; z-index: -1;}
.sub-bg{width: 100%; height: 600px; position: absolute; top: 0; left: 0; /*animation: bg-scale 5s forwards;*/ transition: transform 0.5s ease-in-out;}
.sub-visual.ani .sub-bg{transform: scale(1.1);}
.sub-main-title{position: absolute; width: 100%; text-align: center; top: 50%; left: 50%; transform: translate(-50%, -50%); overflow: hidden;}
.sub-main-title p{font-family: 'NotoB'; font-size: 60px; letter-spacing: -0.03em; color: #fff; opacity: 0;}
.content-tab-box{width: 100%; height: 66px; border-bottom: 1px solid #d9d9d9; background: #fff; box-sizing: border-box;}
.content-tab-box > a{display: none;}

.fixed-header{position: fixed; top: 0; left: 0; width: 100%; z-index: 100; margin-top: 0; transition: all 0.3s ease-in-out;}
.header.fixed-header{background: #fff; border-bottom: 1px solid #d9d9d9;}
.header.fixed-header.on{background: #323232;}
.header.fixed-header .logo a{background-image: url(../images/main/logo.svg);} 
.header.fixed-header.on .logo a{background-image: url(../images/main/logo_w.svg);}
.header.fixed-header .nav > ul > li{color: #323232;}
.header.fixed-header .lang-select a{color: #323232;}
.header.fixed-header .lang-select:after{border-bottom: 2px solid #323232; border-right: 2px solid #323232;}
.header.fixed-header .menu span{background: #323232;}
.header.fixed-header .nav > ul > li a{color: #323232;}
.header.fixed-header.on  .nav > ul > li a{color: #fff;}
.header.fixed-header.on  .nav > ul > li a:hover {color:#FF8B23}

.content-tab-box ul{display: flex; width: 100%; height: 100%; justify-content: center;}
.content-tab-box > ul > li{width: 190px; height: 100%; line-height: 66px; text-align: center; background-color: #ffffff; position: relative;}
.content-tab-box ul li a{display: block; color: #4e4e4e; font-size: 16px; letter-spacing: -0.03em; }
.content-tab-box ul li.active a{color: #323232; font-family: 'NotoB';}
.content-tab-box ul li.active:after{position: absolute; content: ''; width: 100%; height: 2px; background: #ff8b23; left: 0; bottom: -1px;}

.sub-content{background: #fff; position: relative;}
.content-wrap{max-width: 1280px; margin: 0 auto;}
.sub-content .content-wrap {width: calc(100% - 4.8rem);}

.main-title-wrap{width: 100%; text-align: center; padding: 150px 0 225px;}
.content-wrap .title{margin-bottom: 30px;}
.content-wrap .title p{font-family: 'NotoB'; font-size: 48px; letter-spacing: -0.03em; color: #323232;}
.content-wrap .title-txt{margin-bottom: 96px;}
.content-wrap .title-txt p{font-size: 20px; color: #4e4e4e; letter-spacing: -0.03em; line-height: 36px;}



.mo768 {display: none;} 

@media all and (max-width : 1440px){
  /* .content-wrap{width: calc(100% - 4.8rem);}
  .footer-wrap{width: calc(100% - 23rem);} */
  .footer-wrap{width: calc(100% - 20rem);} 
  .footer-top .f-nav {flex: 0 0 54%;}
  .footer-top .f-nav dd a {line-height: 32px;;}
}

@media all and (max-width : 1280px){
  /* .nav > ul > li + li{margin-left: 60px;}
  .nav > ul > li{padding: 0px 25px;} */
}

@media all and (max-width : 1200px){
  .header-wrap {padding:24px 24px; align-items: center}
  .header .header-wrap .logo a {font-size: 32px; line-height: normal;} 
  
  .header-wrap .nav > ul > li > .depth_2 .menu_intro{position: absolute; left: -220px;}
  .header-wrap .nav > ul > li:nth-child(2) > .depth_2 .menu_intro{left: -357px;}
  .header-wrap .nav > ul > li:nth-child(3) > .depth_2 .menu_intro{left: -494px;}
  .header-wrap .nav > ul > li:nth-child(4) > .depth_2 .menu_intro{left: -604px;}
  .header-wrap .nav > ul > li:nth-child(5) > .depth_2 .menu_intro{left: -727px;}


  #gnb .gnb-header {padding:24px 24px; position: relative;}
  #gnb .gnb-header .logo a {font-size: 24px; line-height: normal;} 
  #gnb .gnb-inner {padding:24px; height: calc(100% - 80px); z-index: 100;}
  /* #gnb .gnb-menu { max-width: inherit; margin: inherit; display: flex; gap: 25px; flex-direction: column; flex-wrap: nowrap;  align-content: flex-start; align-items: flex-start;}
  #gnb .gnb-menu > li h2 {color: #c4c4c4; cursor: pointer; font-size: 24px; margin-bottom:0;}
  #gnb .gnb-menu > li h2.active { color: #ff8b23;}
  #gnb .gnb-menu > li > .gnb-depth2 > li {margin:15px 0;}
  #gnb .gnb-menu > li > .gnb-depth2 {display: none; border-left:none; margin-left:0;}
  #gnb .gnb-menu > li > .gnb-depth2 > li a {font-size: 16px;;}
  #gnb .gnb-menu > li > .gnb-depth2 > li a:hover::before {display: none;}
  #gnb .gnb-menu > li > .gnb-depth2.open{display: block;}
  #gnb .gnb-menu > li > .gnb-depth2 > li a {color:#c3c3c3}*/

  #gnb .gnb-bottom{position: absolute; right:0; width: 100%;}
  #gnb .gnb-bottom ul{justify-content: flex-start; gap: unset;}
  #gnb .gnb-bottom ul li{width: 25%; text-align: center;}
  #gnb .gnb-bottom ul li a{font-size: 13px;}  

  .footer-wrap{width: calc(100% - 4.8rem);} 
  .footer-top .f-nav {flex: 0 0 54%;}
  .footer-top .f-nav dd a {line-height: 32px;;}

  #fp-nav {left:80px;}


}


@media all and (max-width : 1023px) {
  .header-wrap {padding:24px 24px; align-items: center}
  .header .header-wrap .logo a {font-size: 24px; line-height: normal;} 
  .header .header-wrap .menu-btn .menu {padding: 0 0;}
  .header.on .header-wrap {background: transparent;}
  .header.on .header-wrap .logo a {color: #fff;} 
  .header.dark .header-wrap .menu span{background: #323232;}
  .header.fixed-header .logo a {color: #323232;} 

  .header .header-wrap nav.pcOnly {display: none !important;}



  #gnb .gnb-header {padding:24px 24px; position: relative;}
  #gnb .gnb-header .logo a {font-size: 24px; line-height: normal;} 
  #gnb .gnb-inner {padding:24px; align-items: flex-start; flex-direction: column;height: calc(100% - 80px); z-index: 100;}
  #gnb .gnb-menu { max-width: inherit; margin: inherit; display: flex; gap: 25px; flex-direction: column; flex-wrap: nowrap;  align-content: flex-start; align-items: flex-start;}
  #gnb .gnb-menu > li h2 {color: #c4c4c4; cursor: pointer; font-size: 24px; margin-bottom:0;}
  #gnb .gnb-menu > li h2.active { color: #ff8b23;}
  #gnb .gnb-menu > li > .gnb-depth2 > li {margin:15px 0;}
  #gnb .gnb-menu > li > .gnb-depth2 {display: none; border-left:none; margin-left:0;}
  #gnb .gnb-menu > li > .gnb-depth2 > li a {font-size: 16px;;}
  #gnb .gnb-menu > li > .gnb-depth2 > li a:hover::before {display: none;}
  #gnb .gnb-menu > li > .gnb-depth2.open{display: block;}
  #gnb .gnb-menu > li > .gnb-depth2 > li a {color:#c3c3c3}

  #gnb .gnb-bottom{position: absolute; right:0; width: 100%;}
  #gnb .gnb-bottom ul{justify-content: flex-start; gap: unset;}
  #gnb .gnb-bottom ul li{width: 25%; text-align: center;}
  #gnb .gnb-bottom ul li a{font-size: 13px;} 

  .footer-wrap{width: calc(100% - 4.8rem);} 
  .footer-top .f-nav {flex: 0 0 54%;}
  .footer-top .f-nav dd a {line-height: 32px;;}

  #fp-nav{display: none !important;}
}


@media all and (max-width : 991px) {
  .header-wrap {padding:24px 24px; align-items: center}
  .header .header-wrap .logo a {font-size: 24px; line-height: normal;} 
  .header .header-wrap .menu-btn .menu {padding: 0 0;}
  .header.on .header-wrap {background: transparent;}
  .header.on .header-wrap .logo a {color: #fff;} 
  .header.dark .header-wrap .menu span{background: #323232;}
  .header.fixed-header .logo a {color: #323232;} 

  .header .header-wrap nav.pcOnly {display: none !important;}

  
  #gnb .gnb-header {padding:24px 24px; position: relative;}
  #gnb .gnb-header .logo a {font-size: 24px; line-height: normal;} 
  #gnb .gnb-inner {padding:24px; align-items: flex-start; flex-direction: column;height: calc(100% - 80px);}
  #gnb .gnb-menu { max-width: inherit; margin: inherit; display: flex; gap: 25px; flex-direction: column; flex-wrap: nowrap;  align-content: flex-start; align-items: flex-start;}
  #gnb .gnb-menu > li h2 {color: #c4c4c4; cursor: pointer; font-size: 24px; margin-bottom:0;}
  #gnb .gnb-menu > li h2.active { color: #ff8b23;}
  #gnb .gnb-menu > li > .gnb-depth2 > li {margin:15px 0;}
  #gnb .gnb-menu > li > .gnb-depth2 {display: none; border-left:none; margin-left:0;}
  #gnb .gnb-menu > li > .gnb-depth2 > li a {font-size: 16px;;}
  #gnb .gnb-menu > li > .gnb-depth2 > li a:hover::before {display: none;}
  #gnb .gnb-menu > li > .gnb-depth2.open{display: block;}
  #gnb .gnb-menu > li > .gnb-depth2 > li a {color:#c3c3c3}

  #gnb .gnb-bottom{position: absolute; right:0; width: 100%;}
  #gnb .gnb-bottom ul{justify-content: flex-start; gap: unset;}
  #gnb .gnb-bottom ul li{width: 25%; text-align: center;}
  #gnb .gnb-bottom ul li a{font-size: 13px;} 

  .footer-wrap{width: calc(100% - 4.8rem);} 
  .footer-top .f-nav {flex: 0 0 54%;}
  .footer-top .f-nav dd a {line-height: 32px;;}
  #fp-nav{display: none !important;}

}

@media all and (max-width : 767px) {

  #fp-nav{display: none !important;}

  .header-wrap {padding:16px 24px; align-items: center}
  .header .header-wrap .logo a {font-size: 24px; line-height: normal;} 
  .header .header-wrap .menu-btn .menu {padding: 0 0;}
  .header.on .header-wrap {background: transparent;}
  .header.on .header-wrap .logo a {color: #fff;} 
  .header.dark .header-wrap .menu span{background: #323232;}
  .header.fixed-header .logo a {color: #323232;} 

  .header .header-wrap nav.pcOnly {display: none !important;}


  #gnb .gnb-header {padding:24px 24px; position: relative;}
  #gnb .gnb-header .logo a {font-size: 24px; line-height: normal;} 
  #gnb .gnb-inner {padding:24px; align-items: flex-start; flex-direction: column;height: calc(100% - 80px);}
  #gnb .gnb-menu { max-width: inherit; margin: inherit; display: flex; gap: 25px; flex-direction: column; flex-wrap: nowrap;  align-content: flex-start; align-items: flex-start;}
  #gnb .gnb-menu > li h2 {color: #c4c4c4; cursor: pointer; font-size: 24px; margin-bottom:0;}
  #gnb .gnb-menu > li h2.active { color: #ff8b23;}
  #gnb .gnb-menu > li > .gnb-depth2 > li {margin:15px 0;}
  #gnb .gnb-menu > li > .gnb-depth2 {display: none; border-left:none; margin-left:0;}
  #gnb .gnb-menu > li > .gnb-depth2 > li a {font-size: 16px;;}
  #gnb .gnb-menu > li > .gnb-depth2 > li a:hover::before {display: none;}
  #gnb .gnb-menu > li > .gnb-depth2.open{display: block;}
  #gnb .gnb-menu > li > .gnb-depth2 > li a {color:#c3c3c3}

  #gnb .gnb-bottom{position: absolute; right:0; width: 100%;}
  #gnb .gnb-bottom ul{justify-content: flex-start; gap: unset;}
  #gnb .gnb-bottom ul li{width: 25%; text-align: center;}
  #gnb .gnb-bottom ul li a{font-size: 13px;} 



  .footer-wrap{width: calc(100% - 4.8rem);} 
  .footer-top .f-nav {flex: 0 0 54%;}
  .footer-top .f-nav dd a {line-height: 32px;;}

  .scroll-top-btn{width: 40px; height: 40px; position: fixed; opacity: 0; visibility: hidden; bottom: 20px; right: 20px; box-shadow: 5px 5px 5px rgb(0 0 0 / 10%); background: #ff8b23 url(../images/main/mo-scroll-top-btn.png) no-repeat center; transition: opacity 0.5s, visibility 0.5s; cursor: pointer;}
  .scroll-top-btn.on{opacity: 1; visibility: visible;}

  .content-tab-box{display: flex; position: relative; overflow: hidden; width: 100%; border: 0;}
  .content-tab-box > a{display: block;}
  .content-tab-box::after {content: ""; display: block; position: absolute; right: 24px; top: 50%; width: 9px; height: 9px; margin-top: -7px; border-bottom: 2px solid #323232; border-right: 2px solid #323232; transform-origin: 66% 66%; transform: rotate(45deg); transition: all 0.15s ease-in-out;}
  .content-tab-box >ul >li{width: 100%; text-align: left;line-height: unset;}
  .content-tab-box a{display: flex; color: #323232; font-family: 'NotoB'; align-items: center; justify-content: flex-start; width: 100%; font-size: 18px;}
  .content-tab-box .current {padding-left: 24px; padding-right: 50px; border-bottom: 1px solid #d9d9d9;}
  .content-tab-box .tab-list {flex-direction: column; overflow: hidden; position: absolute; top: 100%; left: 0; z-index: -1; width: 100%; height: auto; background: #fff; box-shadow: 0px 3px 10px #f5f5f5; opacity: 0; transform-origin: 50% 0; transform: translateY(-21px); transition: all 0.2s ease, opacity 0.15s ease-out;}
  .content-tab-box .tab-list a {padding: 0 18px; color: #323232; font-family: 'NotoR';}
  .content-tab-box::after {right: 24px; width: 7px; height: 7px; margin-top: -6px;}
  /* .content-tab-box .current {border-bottom: 1px solid #d9d9d9;} */
  .content-tab-box .tab-list li a {justify-content: center; padding: 10px 24px;}
  .content-tab-box.up .tab-list {top: auto; bottom: calc(100% - 1px); transform-origin: 0 100%; transform: translateY(21px); padding-bottom: 10px;}
  .content-tab-box.active {overflow: visible;}
  .content-tab-box.active::after {transform: rotate(-135deg);}
  .content-tab-box.active .tab-list {opacity: 1; z-index: 3; transform: translateY(0); padding: 10px 0;}
  .content-tab-box.active .tab-list li.active a{color: #323232; font-family: 'NotoB';}


  .main-title-wrap{text-align: left;}
  .sub-main-title p{font-size: 32px;}
  .content-wrap .title p {font-size: 28px; line-height: 40px;}
  .content-wrap .title-txt p{font-size: 16px; line-height: 26px;}
  /* .mo768 {display: block;}

  .sub-main-title p{font-size: 32px;}
  .content-wrap{width: calc(100% - 4.8rem);} */

  /* .tabs{width: 100%;} */
  /* .mo-tab-box{width: 100%; height: 65px; box-sizing: border-box; background: #fff; position: relative;} */
  /* #tab-box{width: 100%; height: 100%; padding: 20px 24px; color: #323232; font-size: 18px; font-family: 'NotoB'; background: url(../images/customerSupport/select_default.png) no-repeat right 50%; border-bottom: 1px solid #d9d9d9;} */
/* 


  .main-title-wrap{text-align: left;}
  .content-wrap .title-txt{margin-bottom: 30px;}
  .content-wrap .title p{font-size: 28px; line-height: 40px;}
  .content-wrap .title-txt p{font-size: 16px; line-height: 28px;}
  .footer{padding: 30px 0;}
  .footer-wrap{width: calc(100% - 4.8rem);} 
  .footer-top{flex-direction: column; margin-bottom: 0;}
  .footer-top .f-logo .logo{margin-bottom: 20px;}
  
  .footer-top .f-nav dt{font-family: 'NotoR'; font-size: 15px; line-height: 20px; margin-bottom: 20px; color: #ECECEC; font-weight:normal}
  .footer-top .f-nav dd{display: none;}
  .footer-top .f-nav{flex-direction: column;}
  .footer-bottom{border-top: none; flex-direction: column-reverse; align-items: flex-start; padding-top: 0;}
  .footer-bottom .f-site-wrap{width: 100%;}
  .footer-bottom .f-site select{width: 100%; padding: 8px 0 8px 20px;}
  .footer-bottom .f-info-wrap .f-menu ul li a{font-size: 13px; letter-spacing: -0.03em;}
  .footer-bottom .f-info-wrap .info dl{display: block;}
  .footer-bottom .f-info-wrap .info dl dt{float: left; width: 42px; padding-right: 17px; font-size: 12px;}
  .footer-bottom .f-info-wrap .info dl dd{font-size: 12px;}
  .footer-bottom .f-info-wrap .info address{font-size: 12px;}
  .footer-bottom .f-info-wrap .info address span{width: 42px; padding-right: 17px;}
  .footer-bottom .privacy.moOnly{margin-bottom: 10px;}*/

}



@media all and (max-width : 600px){


  

  .footer {padding:30px 0;}
  .footer-top {flex-direction: column; margin-bottom:0;}
  .footer-top .logo {margin-bottom:20px;}
  .footer-top .f-nav {flex-direction: column;}
  .footer-top .f-nav dt {font-family: 'NotoR'; font-size: 15px;  line-height: 20px; letter-spacing: -0.03em;  color: #ECECEC; margin-bottom:20px;}
  .footer-top .f-nav dd {display: none;}

  .footer-bottom {flex-direction: column-reverse;  align-items: flex-start; border-top:none; padding-top:0;}
  .footer-bottom .f-site-wrap,
  .footer-bottom .f-site select {width:100%;}
  .footer-bottom .f-info-wrap .info dl{display: block;}
  .footer-bottom .f-info-wrap .info dl dt{float: left; width: 42px; padding-right: 17px; font-size: 12px;}
  .footer-bottom .f-info-wrap .info dl dd{font-size: 12px;}
  .footer-bottom .f-info-wrap .info address{font-size: 12px;}
  .footer-bottom .f-info-wrap .info address span{width: 42px; padding-right: 17px;}
  .footer-bottom .privacy.moOnly{margin-bottom: 5px;} 
  

}


@media(max-width:425px){
  .content-wrap .title p{word-break: keep-all;}
  .content-wrap .title p br{display: none;}
}

@media(max-width:375px){
  
}
@media(max-width:320px){

}