.main-title-wrap{padding-bottom: 0;}
.section{width: 100%; height: 100%; position: relative;}
.sub-bg{background: url(../images/customerSupport/customerSupport_sub_visual.png) no-repeat; background-size: cover;}
.content-wrap{max-width: 1280px; margin: 0 auto; padding-bottom: 285px;}

.table-wrap p{text-align: right; padding: 15px 0; padding-right: 10px; color: #ff8b23; font-family: 'NotoB'; letter-spacing: -0.03em;}
.table { width: 100%; border-top: 1px solid #666; }
.table .caption { display: table-caption; padding-bottom: 25px; color: #323232; font-size: 32px; font-family: 'NotoB'; text-align: left; letter-spacing: -1.5px; }
.table tr { border-bottom: 0.9px solid #eee; }
.table td, .table th { padding: 0px 50px; font-size: 16px;}
.table th { color: #323232; text-align: left; }
.table td { color: #666666; }
.table.type-write { border-bottom: 1px solid #666666; }
.table.type-write .col-1 { width: 90px; }
.table.type-write tr:first-of-type th, .table.type-write tr:first-of-type td { padding-top: 16px; }
.table.type-write tr:last-of-type th, .table.type-write tr:last-of-type td { padding-bottom: 16px; }
.table.type-write th {font-size: 18px; color: #323232; letter-spacing: -0.03em; width: 73px;}
.table.type-write th .title { display: inline-block; margin-top: 8px; }
.table.type-write th, .table.type-write td { padding-top: 8px; padding-bottom: 8px; }
.bul-must:before { display: inline-block; content: "\2731"; width: 4px; height: 4px; font-size: 10px; margin: 4px 0 0 5px; color: #ff8b23; vertical-align: top; }
.input-box {display: flex; }
.input-box.type2 { width: 100%; display: flex; }
.select { width: 100%; height: 61px; padding: 0 8px; border: 1px solid #d9d9d9; background: url(../images/customerSupport/select_default.png) no-repeat right 50%; }
#selectDirect{width: 100%; height: 61px; padding: 0 8px; border: 1px solid #d9d9d9;}
.input-box.type2 .flex-wrap {display: flex; width: 100%; align-items: center;}
.input-box .dash { padding: 0 10px; line-height: 40px; }
.input { width: 100%; padding: 19px 7px; border: 1px solid #d9d9d9; color: #323232; font-size: 16px; box-sizing: border-box; }
.input.mandatory {border-color: #ff5555;}
.input.mandatory::placeholder{color: #ff5555;}
.input[readonly]:focus { border-color: #d9d9d9; }
.input[disabled] { border-color: #d9d9d9;}
.input:focus { border-color: #323232; }
.input::placeholder{color: #8f8f8f;}
.textarea { width: 100%; padding: 19px 7px; border: 1px solid #d9d9d9; color: #000000; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; resize: vertical; }
.textarea[disabled] { border-color: #d9d9d9;}
.textarea:focus { border-color: #323232; }
.textarea::placeholder{color: #8f8f8f;}
.attr-box { overflow: hidden; display: flex; position: relative; width: 100%; }
.attr-box .input {flex: 1;}
.attr-box .btn-attr { display: inline-block; width: 148px; height: 60px; padding: 0 24px; border: 1px solid #d9d9d9; background-color: #323232; color: #ececec; font-size: 16px; margin-left: 15px;}
.attr-box .file { position: absolute; top: 0; right: 0; bottom: 0; left: 0; font-size: 100px; opacity: 0; }


.privacy-agree-box{padding-top: 60px; margin-bottom: 120px;}
.privacy-agree-box .top p{font-size: 20px; letter-spacing: -0.03em; color: #323232; margin-bottom: 20px;}
.privacy-agree-box .top p:after{content:"*"; color: #ff8b23; margin-left: 5px;}
.privacy-agree-box .top > div{display: inline-block;}

.btn-toggle { margin-top: 5px; display: inline-block; width: 55px; height: 55px; border-radius: 100%; font: 0/0 a; text-align: center;}
.btn-toggle:after { display: inline-block; content: ""; width: 8px; height: 8px; border-top: 2px solid #323232; border-right: 2px solid #323232; transform: rotate(135deg);}
.btn-toggle.on:after { transform: rotate(-45deg);}
.btn-toggle.toggle-text { width: auto; height: auto; margin: 0 0 0 15px; padding-bottom: 3px; border-bottom: 1px solid; border-radius: 0; color: #323232;}
.btn-toggle.toggle-text:before { content: "자세히보기"; font-family: 'NotoB'; font-size: 16px; line-height: 1; }
.btn-toggle.toggle-text:after { margin: 0 0 3px 25px; }
.btn-toggle.toggle-text:hover { background-color: transparent; }
.btn-toggle.toggle-text.on:before { content: "닫기"; }
.btn-toggle.toggle-text.on:after { margin-bottom: 0; }


.privacy-agree > p{font-size: 20px; letter-spacing: -0.03em; color: #323232; margin-bottom: 14px;}
.privacy-agree{display: none; height: 270px; margin-top: 30px; border: 1px solid #d9d9d9; padding: 30px; box-sizing: border-box; overflow: auto; margin-bottom: 20px; transition: all 0.5s ease-in-out;}
.privacy-agree.on{display: block;}
.privacy-agree p{color: #4e4e4e; font-size: 16px; letter-spacing: -0.03em; line-height: 32px;}
.agree-btn-box{padding-left: 25px;}
.agree{color: #323232; letter-spacing: -0.03em; padding: 3px 0; padding-left: 36px;}

.icheckbox[type=checkbox] + label {display: inline-block; background: url(../images/customerSupport/icheck-square.png) no-repeat;}
.btn-box{width: 100%; text-align: center;}
.icheckbox[type=checkbox]:checked + label {background: url(../images/customerSupport/icheck-square-color.png) no-repeat;}
.submit-btn{padding: 15px 50px; background: #ff8b23; color: #ffffff; border: 1px solid #ff8b23; box-sizing: border-box;; transition: background ease .4s;}
.submit-btn:hover{background: #ffffff; color: #ff8b23;}

.layer-dimm {display: none; position: fixed; top: 0; right: 0; bottom: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); z-index: 100; }
.layer-alert{display: none; position: fixed; width: 400px; background-color: #ffffff; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 110;}
.layer-alert .document-layer{background: #f6f6f6; padding: 93px 0px 48px; text-align: center; position: relative; color: #4e4e4e; letter-spacing: -0.03em;}
.layer-alert .document-layer:before{position: absolute; content: ''; width: 30px; height: 30px; background: url(../images/customerSupport/info-circle.png) no-repeat; left: 50%; transform: translateX(-50%); top: 48px;}
.layer-alert .btn-box{padding: 18px 0; color: #323232; font-family: 'NotoM'; letter-spacing: -0.03em; background: #fff; transition: background 0.5s ease-in-out;}
.layer-alert .btn-box:hover{background: #ff8b23; color: #fff;}


@media all and (max-width : 1280px){
  .privacy-agree-box{padding: 100px 50px 0;}
}


@media all and (max-width : 1024px) {

}

@media all and (max-width : 768px) {
  .sub-bg{background: url(../images/customerSupport/customerSupport_sub_visual_mo.png) no-repeat; background-size: cover;}
  .table td, .table th{padding: 0;}
  .table.type-write th, .table.type-write td{width: 100%; display: block;}
  .table.type-write tr th{padding-top: 20px; padding-bottom: 0;}
  .table.type-write tr td{padding-top: 10px; padding-bottom: 20px;}
  .content-wrap .title{margin-bottom: 20px;}
  .table.type-write th .title{margin-top: 0;}
  .table tr{border-bottom: 1px solid #d9d9d9;}
  .input::placeholder{font-size: 14px;}
  .textarea::placeholder{font-size: 14px;}
  .select{font-size: 14px;}
  .privacy-agree-box{margin-bottom: 80px; padding: 60px 0 0;}
  .privacy-agree-box .top > div{display: block;}
  .btn-toggle.toggle-text{margin: 15px 0 0 0;}
  .attr-box .btn-attr{width: 115px;}

}

@media all and (max-width : 400px){
  .layer-alert{width: 300px;}
}