.section{width: 100%; height: 100%; position: relative;}
.sub-bg{background: url(../images/introduction/introduction_sub_visual.png) no-repeat; background-size: cover;}

.introduction.section01 .main-title-wrap{position: relative; padding: 150px 0 0;}
/* .section01 .main-title-wrap:after{position: absolute; content: ''; width: 1px; height: 130px; background: #d9d9d9;} */
.introduction.section01 .titie-txt{position: relative;}
.introduction.section01 .line{position: absolute; width: 1px; height: 130px; background: #d9d9d9; left: 50%; bottom: 140px;}

.aniline{height: 130px; margin: 100px auto;}
.aniline span{display: block; height: 100%; width: 1px; background: #d9d9d9; margin: 0 auto;}


.introduction.section02 .company-box{position: relative; background: url(../images/introduction/introduction_content_bg.png) no-repeat; width: 100%; height: 100%; background-size: cover; padding: 115px 0;}
.introduction.section02 .company-box::after{content:""; display: table; clear: both;}
.introduction.section02 .company-image{position: absolute; right: 0.4%; bottom: 7%;}
.introduction.section02 .company-info{padding-left: 320px}
.introduction.section02 .company-info .com-title{font-size: 40px; font-family: 'arsenalIb'; letter-spacing: -0.03em; color: #ffffff; margin-bottom: 15px;}
.introduction.section02 .company-info table{border-top: 2px solid #ffffff;}
.introduction.section02 .company-info table th{font-family: 'NotoB'; color: #ffffff; letter-spacing: -0.03em; line-height: 56px;}
.introduction.section02 .company-info table td{color: #ffffff; line-height: 56px; padding: 0 75px 0 25px;}


.introduction.section03 .content-wrap{padding: 120px 0; justify-content: center;}
.introduction.section03 .content-wrap .title{margin-bottom: 100px; text-align: center;}
.introduction.section03 .content-wrap > ul{display: flex;}
.introduction.section03 .content-wrap > ul > li{width: 33.3333%; display: flex; flex-direction: column; align-items: center; position: relative;}
.introduction.section03 .content-wrap > ul > li strong{font-family: 'NotoB'; font-size: 24px; letter-spacing: -0.03em; padding-top: 94px; margin-bottom: 21px; color: #323232;}
.introduction.section03 .content-wrap > ul > li strong span{display: inline-block; font-size: 18px; padding-left: 10px;}
.introduction.section03 .content-wrap > ul > li + li:after{ position: absolute; content: ''; width: 1px; height: 100%; background: #d9d9d9; left: 0px;}
.introduction.section03 .content-wrap > ul > li:before{position: absolute; content: ''; display: block; width: 64px; height: 64px; top: 0;}
.introduction.section03 .content-wrap > ul > li:nth-child(1):before{background: url(../images/introduction/introduction-icon-01.png);}
.introduction.section03 .content-wrap > ul > li:nth-child(2):before{background: url(../images/introduction/introduction-icon-02.png);}
.introduction.section03 .content-wrap > ul > li:nth-child(3):before{background: url(../images/introduction/introduction-icon-03.png);}
.introduction.section03 .content-wrap > ul > li p{font-size: 18px; color: #666; letter-spacing: -0.03em; font-family: 'NotoM';}
.introduction.section03 .content-wrap .item-info li{color: #666; font-size: 14px; letter-spacing: -0.03em; line-height: 30px; text-indent: -7px;}
.introduction.section03 .content-wrap .item-info li:before{content: '-'; position: absolute;}

.introduction.section04{background: #f6f6f6; padding: 120px 0;}
.introduction.section04 .content-wrap{display: flex; flex-direction: column; align-items: center;}
.introduction.section04 .title-wrap{margin-bottom: 30px; text-align: center;}
.introduction.section04 .title-wrap .title{line-height: 70px;}
.introduction.section04 .title-wrap .title span{display: block; color: #ff8b23;}
.introduction.section04 .title-wrap .con-txt p{font-size: 18px; letter-spacing: -0.03em; line-height: 30px; color: #666666;}
.introduction.section04 .section04-img p{text-align: center; font-size: 22px; font-family: 'NotoB'; letter-spacing: -0.03em; color: #666666;}

.introduction.section05{padding: 120px 0 200px; background: #fff;}
.introduction.section05 .content-wrap{display: flex; flex-direction: column; align-items: center;}
.introduction.section05 .title-wrap{margin-bottom: 77px; text-align: center;}
.introduction.section05 .title-wrap .con-txt p{font-size: 18px; letter-spacing: -0.03em; line-height: 30px;}

.ceo.section01 .content-wrap{padding-bottom: 200px;}
.ceo.section01 .content-wrap .main-title-wrap{padding: 150px 0 80px;}
.ceo.section01 .content-wrap .title{margin-bottom: 0;}
.ceo.section01 .intro-inner {margin-top: 125px; margin-bottom: 50px;}
.ceo.section01 .intro-box{position: relative; background: linear-gradient(93.13deg, #5E6366 9.63%, #3E4349 57.44%); padding: 70px 0 57px; background-size: cover;}
.ceo.section01 .intro-box::after{content:""; display: table; clear: both;}
.ceo.section01 .intro-image{position: absolute; right: 2.7%; bottom: 0;}
.ceo.section01 .intro-content .intro-title p{font-size: 38px; letter-spacing: -0.03em; font-family: 'NotoL'; color: #ececec; line-height: 60px; padding-left: 70px;}
.ceo.section01 .intro-content .intro-title p span{font-family: 'NotoM';}
.ceo.section01 .intro-content .intro-text{margin-top: 61px;}
.ceo.section01 .intro-content .intro-text p{font-size: 20px;color: #ececec; font-family: 'NotoL'; padding-left: 70px;}
.ceo.section01 .intro-txt{padding: 0 70px; margin-bottom: 40px;}
.ceo.section01 .intro-txt strong{font-size: 24px; color: #323232; letter-spacing: -0.03em; font-family: 'NotoB'; line-height: 38px; }
.ceo.section01 .intro-txt p{font-size: 20px; letter-spacing: -0.03em; line-height: 36px; color: #666666;}
.ceo.section01 .intro-sign {text-align: right; margin-top: 20px;}
.ceo.section01 .intro-sign .intro-text-end{display: inline-block; vertical-align: middle; text-align: right; font-family: 'NotoB'; font-size: 18px; color: #323232; margin-right: 46px; letter-spacing: -0.03em;}
.ceo.section01 .intro-sign img {display: inline-block; vertical-align: middle;}

.vision.section01 .content-wrap{padding-top: 150px;}
.vision.section01 .content-wrap .main-title-wrap{background: url(../images/introduction/vision-top-bg.png) no-repeat; background-size: cover; padding: 133px 0 139px;}
.vision.section01 .content-wrap .title{margin-bottom: 50px;}
.vision.section01 .content-wrap .title p{color: #ff8b23;}
.vision.section01 .content-wrap .title-txt{margin-bottom: 0;}
.vision.section01 .content-wrap .title-txt p{font-size: 18px; line-height: 32px;}

.vision.section02 .content-wrap{padding-bottom: 200px;}
.vision_core {position: relative;}

.vision_core_circle {width: 577px;height: 577px;margin: 46px auto 0;padding: 28px;position: relative;z-index: 1;}

.vision_core_slider {width: 100%;position: relative;}

.vision_core_slider_item {display: none;}

.vision_core_slider_item:first-child {display: block;}

.vision_core_slider_img {backface-visibility: hidden;-webkit-backface-visibility: hidden;-moz-backface-visibility: hidden;-ms-backface-visibility: hidden;}

.vision_core_slider_img img {max-width: 100%;height: auto;vertical-align: middle;}

.vision_core_slider_img.back {position: absolute;top: 0;bottom: 0;left: 0;right: 0;}

#vision_core_svg {width: 100%; height: auto; position: absolute; top: 0; left: 0;}

#vision_core_circle_line {visibility: hidden;}

.vision_core_list {width: 100%; height: 100%; position: absolute; top: 0; left: 0;}

.vision_core_list > li {width: 250px; position: absolute;cursor: pointer;}

.vision_core_list > li:nth-child(1) {top: 6.5%; left: -48.5%; text-align: right;}

.vision_core_list > li:nth-child(1) > button {  text-align: right;}

.vision_core_list > li:nth-child(2) {top: 6.5%; right: -48.5%;}

.vision_core_list > li:nth-child(3) {bottom: 5.5%; right: -48.5%;}

.vision_core_list > li:nth-child(4) {bottom: 5.5%; left: -48.5%; text-align: right;}

.vision_core_list > li:nth-child(4) > button {  text-align: right;}

.vision_core_list > li > button { text-align: left; padding: 0; background: none; border: none; cursor: pointer;}

.vision_core_list > li > button > p {padding-top: 8px;font-size: 16px; line-height: 1.75; color: #666; position: relative;}

.vision_core_list > li > button > b {display: block;font-size: 24px; font-family:'NotoB'; color: #323232;-webkit-transition: color 400ms; transition: color 400ms; position: relative; line-height: 38px;}

/* .vision_core_list > li > button > b > u {position: relative;text-decoration: none;} */

/* .vision_core_list > li > button > b > u:before {content: '';display: block;width: 0;height: 2px;position: absolute;bottom: 0;background: #ff8b23;-webkit-transition: width 0.4s;transition: width 0.4s;}

.vision_core_list > li:nth-child(1) > button > b > u:before,
.vision_core_list > li:nth-child(4) > button > b > u:before {right: 0;}

.vision_core_list > li:nth-child(2) > button > b > u:before,
.vision_core_list > li:nth-child(3) > button > b > u:before {left: 0;}

.vision_core_list > li.hover > button > b > u:before {width: 100%;} */

.vision_core_list > li.active > button > b {color: #ff8b23;}

.vision_core_pager_wrap {width: 100%;height: 100%;position: absolute;top: 0;left: 0;}

.vision_core_pager {width: 100%;height: 100%;position: relative;z-index: 120;}

.vision_core_pager > li {width: 12px;height: 12px;position: absolute;background: #ddd;border-radius: 100%;cursor: pointer;-webkit-transition: background 400ms;transition: background 400ms;}

.vision_core_pager > li > span {display: block;width: 100%;height: 100%;position: absolute;top: 50%;left: 50%;-webkit-transform: translate3d(-50%, -50%, 0);transform: translate3d(-50%, -50%, 0);border-radius: 100%;-webkit-transition: width 400ms, height 400ms;transition: width 400ms, height 400ms;}

.vision_core_pager > li.active {background: #ff8b23;}

.vision_core_pager > li.active > span {width: 37px;height: 37px;border: 2px solid #ff8b23;}

.vision_core_pager > li:nth-child(1) {top: 13.6%;left: 13.9%;}

.vision_core_pager > li:nth-child(2) {top: 13.6%;right: 13.8%;}

.vision_core_pager > li:nth-child(3) {bottom: 13.8%;right: 13.5%;}

.vision_core_pager > li:nth-child(4) {bottom: 14.5%;left: 13%;}




@media all and (min-width: 1440px){

}

@media all and (min-width: 1024px){
  
}


@media all and (min-width:768px) {

}