.main-slide-wrap{position: relative; height: 100vh; overflow: hidden;}
.swiper-wrapper .item{width: 100%; height: 100%; position: relative; overflow: hidden;}
.swiper-wrapper .swiper-slide .bg{opacity: 0.7; position: absolute; top: 0; right: 0; left: 0; bottom: 0; transform: scale(1.4) rotate(0.1deg); transition: opacity 2s;}
.swiper-wrapper .swiper-slide.swiper-slide-active .bg{opacity: 1; z-index: 2; transform: scale(1); transition: all 14s cubic-bezier(0, 1, 0.34, 0.99), opacity 2s;}
.swiper-wrapper .item .itemBg1{background: url('../images/main/main_visual2.png') no-repeat;}
.swiper-wrapper .item .itemBg2{background: url('../images/main/main_visual3.png') no-repeat;}
.swiper-wrapper .item .itemBg3{background: url('../images/main/main_visual1.png') no-repeat;}
.swiper-wrapper .item .txt-box{position: absolute; top: 50%; left: 50%; z-index: 100; transform: translate(-50%, -50%); display: flex; max-width: 1280px; width: 100%; height: 100%; flex-direction: column; justify-content: center;}
.swiper-wrapper .item .txt-box .visual-title{font-family: 'playB', serif; font-size: 7.2rem; color: #fff; position: relative; overflow: hidden; opacity: 0; top: 100px;}
.swiper-controller-wrap{position:  absolute; width: 260px; height: 100px; bottom: 0px; right: 0; background: #fff; z-index: 1; box-sizing: border-box; padding: 32px 47px;}
.swiper-controller{position: relative; width: 100%; height: 100%;}
.swiper-pagination{bottom: 50%; transform: translateY(50%);}
.swiper-button-prev{background: url('../images/main/controller-arrow-l.png') no-repeat; background-position: center; width: 35px; left: 0;}
.swiper-button-next{background: url('../images/main/controller-arrow-r.png') no-repeat; background-position: center; width: 35px; right: 0;}
.swiper-button-next::after, .swiper-button-prev::after{display: none;}
.swiper-progress-bar{position: absolute; width: 166px; display: block; z-index: 1; height: 2px; left: 50%; bottom: 0px; transform: translateX(-50%);}
.swiper-progress-bar .slide_progress-bar{position: absolute; height: 2px; background: #d9d9d9; width: auto; clear: both; opacity: 0; bottom: 0px; left: 0; right: 0;}
.swiper-progress-bar .slide_progress-bar:after{position: absolute; top: 0; left: 0; background: #ff8b23; height: 100%; width: 0; content: ""; transition: 0.1s width linear;}
.swiper-progress-bar.active .slide_progress-bar{opacity: 1;}
.swiper-progress-bar.animate .slide_progress-bar:after{transition: width linear; transition-delay: unset; width: 100%; transition-duration: 5s;}

.section .content-wrap{max-width: 1280px; margin: 0 auto; height: 100%; display: flex; flex-direction: column; justify-content: center; /* padding-left: 322px; padding-right: 322px;*/}
.section .content-wrap .con-title-wrap{margin-bottom: 60px;}
.section .content-wrap .sub-title{font-family: 'NotoB'; font-size: 24px; color: #bbb; margin-bottom: 15px; position: relative;}
.section .content-wrap .title{font-family: 'NotoD'; font-size: 48px; letter-spacing: -0.03em; color: #323232; line-height: 70px; position: relative;}
.section.full2{background: url('../images/main/full2_bg.png') no-repeat; width: 100%; height: 100vh; overflow: hidden;}
.section.full2 .con-box ul{display: flex; gap: 100px;}
.section.full2 .con-box ul li .icon{margin-bottom: 20px;}
.section.full2 .con-box ul li .box-title{margin-bottom: 45px;}
.section.full2 .con-box ul li .box-title p{font-size: 24px; color: #323232; display: inline-block; position: relative;}
.section.full2 .con-box ul li .box-title p::after{position: absolute; content: ''; display: inline-block; width: 60px; height: 5px; color: #222; bottom: -25px; left: 10px; z-index: 1000;}

.section.full2 .con-box ul li .box-txt{line-height: 23px;}
.section.full2 .con-box ul li .box-txt p{font-family: 'NotoM'; font-size: 14px; letter-spacing: -0.03em; color: #666;}

.section.full3{background: url('../images/main/full3_bg.png') no-repeat; width: 100%; height: 100vh; overflow: hidden;}
.section.full3 .content-wrap{flex-direction: row; justify-content: flex-start; align-items: center; gap: 162px;}
.section.full3 .content-wrap .title{color: #323232; color: #ececec; font-family: 'NotoR';}
.section.full3 .content-wrap .line{width: 250px;}
.section.full3 .content-wrap .line span{display: inline-block; width: 0px; height: 1px; background-color: #bbb;}
[data-aos="aniSlide"] {transition-property: transform;}
[data-aos="aniSlide"].aos-animate {animation: separator-width 3s cubic-bezier(0.42, 0, 0.12, 1.05) forwards;}
@keyframes separator-width {
  0% {
    width: 0;
  }
  100% {
    width: 250px;
  }
}
.section.full3 .con-box{display: flex; flex-direction: column; gap: 60px}
.section.full3 .con-box dl dt{display: flex; color: #fff; font-family: 'NotoM'; font-size: 18px; justify-content: space-between;}
.section.full3 .con-box dl dd{display: flex; color: #fff; font-family: 'NotoBl'; font-size: 60px; justify-content: space-between; align-items: flex-end;}
.section.full3 .con-box dl dd p:last-child{font-size: 20px; color: #bbb; font-family: 'NotoM'; padding-bottom: 15px; margin-left: 7px;}

.section.full4 .content-wrap .sub-title{margin-bottom: 0px;}
.section.full4 .content-wrap .con-title-wrap{margin-bottom: 33px; position: relative;}
.section.full4 .content-wrap .con-title-wrap .more-btn{position: absolute; right: 0px; bottom: 12px;}
.section.full4 .content-wrap .con-title-wrap .more-btn a{display: block; width: 118px; height: 45px; color: #ff8b23; border: 1px solid #ff8b23; box-sizing: border-box; text-align: center; line-height: 45px;font-family: 'NotoM'; position: relative; transition: color .2s cubic-bezier(0.55,0.055,0.675,0.19);}
.section.full4 .content-wrap .con-title-wrap .more-btn a:before{position: absolute; content: ''; display: inline-block; width: 0; height: 100%;  transition: all .4s; top: 0; left: 0; z-index: -1; background: #ff8b23;}
.section.full4 .content-wrap .con-title-wrap .more-btn a:hover{color: #fff;}
.section.full4 .content-wrap .con-title-wrap .more-btn a:hover:before{width: 100%;}

.section.full4 .content-wrap .thumb-box{display: flex; gap: 60px;}
.section.full4 .content-wrap .thumb-box .thumb{width: 100%;}
.section.full4 .content-wrap .thumb-box .thumb-txt-wrap{display: flex; flex-direction: column;}
.section.full4 .content-wrap .thumb-box .thumb-title{margin-bottom: 30px;}
.section.full4 .content-wrap .thumb-box .thumb-title p{font-size: 28px; font-family: 'NotoB'; letter-spacing: -0.03em; color: #323232; line-height: 42px;}
.section.full4 .content-wrap .thumb-box .thumb-txt{margin-bottom: 55px}
.section.full4 .content-wrap .thumb-box .thumb-txt p{font-size: 18px; font-family: 'NoroR'; line-height: 30px; letter-spacing: -0.03em; color: #666;}
.section.full4 .content-wrap .thumb-box .thumb-date p{font-size: 16px; font-family: 'NotoM'; color: #bbb; letter-spacing: -0.03em;}