@charset "utf-8";


/* Noto Sans CJK KR*/
@font-face {
  font-family: 'NotoD';
  src: url('../fonts/NotoSansKR/NotoSansKR-DemiLight.woff') format('woff'),
  url('../fonts/NotoSansKR/NotoSansKR-DemiLight.woff2') format('woff2'),
  url('../fonts/NotoSansKR/NotoSansKR-DemiLight.otf') format('opentype');
}

@font-face {
  font-family: 'NotoT';
  src: url('../fonts/NotoSansKR/NotoSansKR-Thin.woff') format('woff'),
  url('../fonts/NotoSansKR/NotoSansKR-Thin.woff2') format('woff2'),
  url('../fonts/NotoSansKR/NotoSansKR-Thin.otf') format('opentype');
}

@font-face {
  font-family: 'NotoR';
  src: url('../fonts/NotoSansKR/NotoSansKR-Regular.woff') format('woff'),
  url('../fonts/NotoSansKR/NotoSansKR-Regular.woff2') format('woff2'),
  url('../fonts/NotoSansKR/NotoSansKR-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'NotoM';
  src: url('../fonts/NotoSansKR/NotoSansKR-Medium.woff') format('woff'),
  url('../fonts/NotoSansKR/NotoSansKR-Medium.woff2') format('woff2'),
  url('../fonts/NotoSansKR/NotoSansKR-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'NotoL';
  src: url('../fonts/NotoSansKR/NotoSansKR-Light.woff') format('woff'),
  url('../fonts/NotoSansKR/NotoSansKR-Light.woff2') format('woff2'),
  url('../fonts/NotoSansKR/NotoSansKR-Light.otf') format('opentype');
}

@font-face {
  font-family: 'NotoB';
  src: url('../fonts/NotoSansKR/NotoSansKR-Bold.woff') format('woff'),
  url('../fonts/NotoSansKR/NotoSansKR-Bold.woff2') format('woff2'),
  url('../fonts/NotoSansKR/NotoSansKR-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'NotoBl';
  src: url('../fonts/NotoSansKR/NotoSansKR-Black.woff') format('woff'),
  url('../fonts/NotoSansKR/NotoSansKR-Black.woff2') format('woff2'),
  url('../fonts/NotoSansKR/NotoSansKR-Black.otf') format('opentype');
}

/*arsenalBold*/
@font-face {
  font-family: 'arsenalIb';
  src: url('../fonts/arsenalBold/Arsenal Bold Italic.woff') format('woff'),
  url('../fonts/arsenalBold/Arsenal Bold Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/*playBold*/
@font-face {
  font-family: 'playB';
  src: url('../fonts/play/Play-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
strong,
em,
img,
sub,
sup,
address,
cite,
pre,
code,
del,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
section,
summary,
time,
mark,
audio,
video {
  line-height: 1;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
}
article,
aside,
figcaption,
figure,
footer,
header,
nav,
section,
main {
  display: block;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  overflow: visible;
  appearance: button;
  cursor: pointer;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input[data-type='number'] {
  ime-mode: disabled;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  height: auto;
}
input[type='search'] {
  appearance: textfield;
  box-sizing: content-box;
}
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  appearance: none;
}
input::-ms-clear,
input::-ms-reveal {
  display: none;
}
select::-ms-expand {
  display: none;
}
[disabled] {
  cursor: default;
}

html {
  overflow-y: scroll;
  font-size: 62.5%;
}
body {
  width: 100%;
  font-size: 16px;
  font-family: 'NotoR', serif;
  letter-spacing: -0.5px;
  word-break: break-all;
  background-color: #fff;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  color: #000;
  position: relative;
}
input,
button,
select,
textarea {
  line-height: 1;
  margin: 0;
  padding: 0;
  border: 0;
  color: #000;
  font-size: 16px;
  font-family: inherit;
  color: inherit;
  box-sizing: border-box;
  appearance: none;
  vertical-align: middle;
  border-radius: 0;
  background-color: transparent;
  outline: none;
}
caption,
legend,
hr {
  display: none;
}
em,
address,
i {
  font-style: normal;
}
img {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
strong,
b {
  font-weight: normal;
  color: #000;
  font-size: 15px;
  line-height: 1;
  word-break: break-all;
  word-wrap: break-word;
}
p,
span {
  word-break: break-all;
  word-wrap: break-word;
}
label {
  cursor: pointer;
}

input::placeholder {
  color: #c1c1c1;
  line-height: normal;
}
textarea::placeholder {
  color: #c1c1c1;
}


#wrap{
  height: 100%;
  width: 100%;
  overflow: hidden;
}


.eng{font-family: 'MadetommyR' !important;}
.engB{font-family: 'MadetommyB' !important;}

.clear {
  content: '';
  display: block;
  clear: both;
}
.hidden {
  position: absolute;
  font: 0/0 a;
  visibility: hidden;
}
.screen-out {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}
.align-c {
  text-align: center !important;
}
.align-l {
  text-align: left !important;
}
.align-r {
  text-align: right !important;
}
.valign-b {
  vertical-align: bottom !important;
}
.valign-t {
  vertical-align: top !important;
}
.valign-m {
  vertical-align: middle !important;
}
.margin-a {
  margin-left: auto !important;
  margin-right: auto !important;
}

.txtBold {
  font-family:"NotoB", serif;
}
.txtNormal {
  font-family:"NotoM", serif;
}

.pcOnly {
  display: block !important;
}
.moOnly {
  display: none !important;
}


.sup-bold {
  font-size: 32px;
  color: #999;
  line-height: 1.31;
  letter-spacing: -1.28px;
  font-family: 'NotoB', serif;
  font-weight: normal;
}
.isTableBlock{
  display: table;
}
.isMobileHidden {
  display: block !important;
}
.isMobileBlock {
  display: none !important;
}
.isPadBlock{
  display: none !important;
}
.blind {
  font: 0/0 a;
  text-indent: -999px;
}
.onlyMobile {
  color: #666;
  margin: 0 !important;
}

.point {
  color: #ff8b23;
}

@media (max-width: 767px){
  .pcOnly {
    display: none !important;
  }
  .moOnly {
    display: block !important;
  }
}