


//customer>ilis
.visual-customer-ilis{background-image: url("../images/sub/visual_sub_customer_ilis.png");}
.page-ilis{
    padding-bottom: 160px;
    .btn-area {margin-top:40px;font-family: "NotoM", "ManropeM", serif;}
    .article-box {
        flex-direction: row-reverse;
        .dt {font-family:"NotoB", "ManropeB", serif;color:#000}
        .dd {color:#000}
    }
}

//customer>media_rule
.section-customer{
    .box-customer-detail {margin-top:0}
    .accordian-box {
        margin-top:0;
        .item {
            .top {
                .btn-toggle {
                    margin-top:0;
                    height:auto;
                    padding:15px;
                    border-radius: 0;
                    &:after {position: absolute;top:50%;margin-top:-4px;right:40px}
                }
            }
            .pane {margin-left:0;color:#666}
        }

    }
}

  
//customer
.section-customer{
  //padding:120px 0 160px;
  // padding-bottom:160px;
  .table.type-write{
      margin-top:40px;
  }
  .document-title
  {
    //text-align: center;
    &.type-2{
      .title {}
      .desc{
        display: inline-block;text-align: left;
      }
    }
  }
}
//customer > cyber audit
.visual-customer-audit{
  background-image:url("../images/sub/visual_sub_customer-audit.png");
}
.privacy-agree-box{
margin-top:24px;
.top{
  .label{color:#666666;}
  .btn-box{
    display:inline-block;
    margin-top:0;
    font-size:16px;
  }
}
.pane{
  display:none;
  margin-top:23px;
  padding:33px;
  background-color:#f5f5f5;
  color:#666666;
  .list-privacy-agree{
    .title{color:#666666;}
    &>li:not(:first-of-type){
      margin-top:25px;
    }
    .desc{
      padding-left:15px;
      &:before{
        display:inline-block;
        content:"";
        width:5px;
        height:1px;
        margin:10px 5px 0 -10px;
        background-color:#666666;
        vertical-align:top;
      }
      margin-top:2px;
    }
  }
  
}

}

//customer > safety petition system
.visual-customer-petition{
  background-image:url("../images/sub/visual_sub_customer-petition.png");
}
//customer > voc
.visual-customer-voc{
  background-image:url("../images/sub/visual_sub_customer-voc.png");
}
//customer > msds
.is-customer-padding{
  padding-bottom: 100px;
}
.visual-customer-msds{
background-image:url("../images/sub/visual_sub_customer-msds.png");
}
.msds-box{
margin-top:65px;
padding-bottom: 120px;
font-size:0;
text-align:center;
>.item{
  display:inline-block;
  &:first-of-type{
    .abbr:before{display:none;}
  }
  &:not(:first-of-type){
    margin-left:-1px;
  }
}
.abbr{
  position:relative;
  &:before{
    display:block;
    content:"";
    position:absolute;
    top:50%;
    left:0;
    width:8px;
    height:8px;
    margin:-4px 0 0 -4px;
    border-radius:100%;
    background-color:#0c3482;
  }
  display:inline-block;
  width:185px;
  height:185px;
  border:1px solid #c7a635;
  border-radius:100%;
  color:#0c3482;
  font-family:'MadetommyB';
  font-size:80px;
  text-decoration: none;
  line-height:185px;
  box-sizing: border-box;
}
.title{
  display:block;
  margin-top:20px;
  color:#666666;
  font-family:'NotoM';
  .eng{
    display:block;
    margin-bottom:7px;
    color:#333333;
    text-transform: uppercase;
    letter-spacing: 0;
  }
}
}
.section-ghs{
background-color:#f5f5f5;
.inner{
  display:flex;
  flex-direction: row;
  padding:120px 0;
  .col{
    width:50%;
    box-sizing:border-box;
    &:first-of-type{
      padding-right:20px;
    }
  }
}
.sub-title{
  margin-bottom:16px;
  font-family:'NotoB';
  font-size:32px;
}
.desc-box{
  max-width:525px;
  line-height:1.7;
}
.desc{
  color:#666666;
  font-size:14px;
}
.desc-dfn{
  dfn{font-style: normal;}
  color:#0c3482;
}
.list-ghs{
  counter-reset: ghs;
  >li{
    display:inline-block;
    width:200px;
    margin:0 15px 2px 0;
    counter-increment: ghs;
    vertical-align:top;
    &:before{
      content:counter(ghs)". ";
      color:#666666;
    }
    &:nth-of-type(3n){
      margin-right:0;
    }
  }
  a{
    color:#666666;
    font-size:14px;
  }
}
}
.section-customer{
.col-msds-1{width:190px;}
.col-msds-2{width:215px;}
.col-msds-4{width:185px;}
.table.type-mo{
  .caption{
    padding-top:120px;
  }
  td:nth-of-type(3){
    // color:#000000;
    font-family:'NotoM';
  }
}
}



// customer > 영상정보처리기기 운영관리방침
#section-visual-sub {background-position:center !important; }
.visual-customer-media_rule{ background-image:url("../images/sub/visual_sub_media_rule.png") }
.box-customer-detail{
margin-top:50px;
>.title{
  font-family:'NotoM';
}
.accordian-box{
  margin-top:25px;
  margin-bottom:160px;
  .top{
    padding:15px 0;
    .box{
      display:flex;
      flex-direction: row;
      align-items: center;
      width:100%;
      text-align:left;
      .btn-toggle{
        position:relative;
        width:100%;
        //height:auto;
        &:before{
          position:absolute;
          top:8px;
          right:0px;
        }
        &:hover{
          background-color:transparent;
        }
        &.on{
          .title{
            font-family:'NotoB';
          }
        }
        .title{
          margin-top:0;
          text-align:left;
        }
      }
    }
  }
  .pane{
    padding:40px 0 40px 24px; 
    p {line-height:24px; }
    p + table   {margin-top:17px; }
    table {
      border:1px solid #eeeeee; width:80%; max-width: 850px; 
      th {font-size:16px; height:55px; background:#f5f5f5; color:#000; vertical-align: middle; font-family: 'NotoB';  text-align: left; padding:0 16px; ;   }
      td {height:55px; color:#666;  vertical-align: middle; border:1px solid #eeeeee; padding:0 16px; }
      tfoot td  {text-align: right; color:#000; font-family: 'NotoB'; padding-right:60px;   }
    }
  }
}
}

// customer > 시험의뢰 및 신청서
.visual-customer-g4b{ background-image:url("../images/sub/visual_sub_g4b.png") }
.ilis-step  {
overflow: hidden;
li {
   position:relative; float:left; margin:16px 0 0 16px; box-sizing: border-box;  width:calc(100% / 3  - 32px ); 
  
   img {width:100%;}
   span {position:absolute; padding:32px 0 0 32px; left:0; top:0; font-size:18px; color:#000;  }
}
li:nth-child(3n+1) {margin-left:0;}
}
.ilis-Reports {
font-size:18px;
margin-top:12px;
color:#666;
a {text-decoration: underline; color:#0c3482}
}
.ilis-quality {
padding-bottom:120px; 
overflow: hidden;
margin-top:12px;
li {
  position:relative; float:left; width: calc(50% - 8px); border:1px solid #ddd; height:216px; padding:40px 0 0 250px; box-sizing: border-box; background:url(../images/customer/ilis_quality_1.png) no-repeat 80px 35%;
  
  & + li {margin-left:16px; background-image:url(../images/customer/ilis_quality_2.png)}
  strong {font-size:24px; color:#000; font-family: 'NotoB'; line-height:36px; }
  P {font-size:16px; color:#666; margin-top:4px; line-height:24px;  }
  a {margin-top:20px; width:100px; height:40px;  padding:0; line-height:40px; }
}
}
.ilis-box{
display:flex;
justify-content: space-between;
.inner-article{
  .title{
    font-family:'NotoB';
    font-size:32px;
  }
  .desc-article{
    margin-top:17px;
    p{
      margin-top:5px;
    }
    .btn-area{
      margin-top:40px;
    }
  }
}
.list-contact{
  dt{
    display:inline-block;
    font-family:'NotoB';
  }
  dd{display:inline-block;}
}
.figure{
  width:49.45%;
}
}

@media(max-width:821px){
  .visual-customer-g4b{ background-image:url("../images/sub/visual_sub_g4b_mo.png") }
  .ilis-step  {
    overflow: hidden;
    margin-top:8px;
    li {
       margin:20px 0 0 0; box-sizing: border-box;  width:calc(100% / 2  - 6px ); 
      span {position:static; display:block; padding:8px 0 0 0;  font-size:14px; color:#000;  }
    }
    li:nth-child(3n+1) {margin-left:0;}
    li:nth-child(2n+1) {margin-right:12px;}
    li:nth-child(-n + 2) {margin-top:0px;}
  }
  .ilis-quality {
    overflow: hidden;
    margin-top:8px;
    li {
      position:relative; float:left; width: 100%; border:1px solid #ddd; height:auto; padding:24px 0 24px 350px; box-sizing: border-box; background:url(../images/customer/ilis_quality_1.png) no-repeat 120px 50%; background-size:130px auto;
      
      & + li {margin-left:0; margin-top:12px; background-image:url(../images/customer/ilis_quality_2.png)}
      strong {font-size:24px; color:#000; font-family: 'NotoB'; line-height:36px; }
      P {font-size:16px; color:#666; margin-top:4px; line-height:24px; padding-bottom:8px; }
      a {position:static;}
    }
  }
  .ilis-box{
    flex-direction: column-reverse;
    .inner-article{
      .title{
        font-size:18px;
      }
      .desc-article{
        margin-top:5px;
        .btn-area{
          margin-top:20px;
          [class*="btn-common"]{width:100%;}
        }
      }
    }
    .list-contact{
      margin-top:10px;
      dt{display:block;}
      dd{display:block;}
    }
    .figure{
      width:100%;
      margin-bottom:16px;
    }
  }
}

@media (max-width: 767px) {
    

  // customer > 영상정보처리기기 운영관리방침
  .visual-customer-media_rule{ background-image:url("../images/sub/visual_sub_media_rule_m.png") }
    
  // customer > 시험의뢰 및 신청서
  .visual-customer-g4b{ background-image:url("../images/sub/visual_sub_g4b_mo.png") }
  .ilis-step  {
    overflow: hidden;
    margin-top:8px;
    li {
       margin:20px 0 0 0; box-sizing: border-box;  width:calc(100% / 2  - 6px ); 
      span {position:static; display:block; padding:8px 0 0 0;  font-size:14px; color:#000;  }
    }
    li:nth-child(3n+1) {margin-left:0;}
    li:nth-child(2n+1) {margin-right:12px;}
    li:nth-child(-n + 2) {margin-top:0px;}
  }
  .ilis-quality {
    overflow: hidden;
    margin-top:8px;
    li {
      position:relative; float:left; width: 100%; border:1px solid #ddd; height:auto; padding:24px 0 24px 120px; box-sizing: border-box; background:url(../images/customer/ilis_quality_1.png) no-repeat 32px 50%; background-size:64px auto;
      
      & + li {margin-left:0; margin-top:12px; background-image:url(../images/customer/ilis_quality_2.png)}
      strong {font-size:24px; color:#000; font-family: 'NotoB'; line-height:36px; }
      P {font-size:16px; color:#666; margin-top:4px; line-height:24px; padding-bottom:8px; }
      a {position:static;}
    }
  }
  .ilis-Reports{
    font-size: 16px;
  }
  .ilis-box{
    flex-direction: column-reverse;
    .inner-article{
      .title{
        font-size:18px;
      }
      .desc-article{
        margin-top:5px;
        .btn-area{
          margin-top:20px;
          [class*="btn-common"]{width:100%;}
        }
      }
    }
    .list-contact{
      margin-top:10px;
      dt{display:block;}
      dd{display:block;}
    }
    .figure{
      width:100%;
      margin-bottom:16px;
    }
  }


      //customer>ilis@
    .visual-customer-ilis{background-image: url("../images/sub/visual_sub_customer_ilis_mo.png");}
    .page-ilis{
        padding-bottom: 0;
        
        .article-box{
            display: block;
            margin-bottom:22.22vw;
            .figure {margin-top:15px}
            .inner-article {
                width:100%;
                .desc-article {
                    margin-top:1.38vw;
                    .dt{display: block;color:#000}
                    
                }
                .title {font-size:18px;}
            }
        }
        .btn-area {
            margin-top:5.55vw;
            button {width:100%; padding:2.77vw 0}
        }
        
        
    }
    
    //customer>media_rule@
    .box-customer-detail{
      margin-top:0;
      >.title{
        font-family:'NotoM';
      }
      .accordian-box{
        margin-top:0;
        margin-bottom:90px;
        .top{
          padding: 0;
          .title {
            padding-right:20px;
          }
        }
        .pane{
          padding:20px 0 20px 12px; 
          p {line-height:24px; }
          p + table   {margin-top:17px; }
          table {
            border:1px solid #eeeeee; width:100%; max-width: 850px; 
            th {font-size:16px; height:55px; background:#f5f5f5; color:#000; vertical-align: middle; font-family: 'NotoB';  text-align: left; padding:0 16px; ;   }
            td {height:55px; color:#666;  vertical-align: middle; border:1px solid #eeeeee; padding:0 16px; }
            tfoot td  {text-align: right; color:#000; font-family: 'NotoB'; padding-right:60px;   }
          }
        }
      }
    }
    .section-customer{
        .box-customer-detail {margin-top:0}
        .accordian-box {
            .item {
                padding: 0;
                .top {
                    font-size:18px; letter-spacing: -1.44px;
                    .btn-toggle {
                        .title {width:80%;line-height:1.5}
                        &:after {right:15px;}
                    }
                }
                .pane {
                    padding:20px 12px 20px 12px;margin-top:5.55vw;
                }
                table {
                    th {font-size:14px;}
                    tfoot{
                        td {padding-right:16px;}
                    }
                }
            }
    
        }
        .tb_data-tit_r {
            border : none !important;
            thead {display: none;}
            tr  {
                display: block;
                +tr {
                    margin-top:20px
                }
                td {
                    position:relative;font-size:14px;border-bottom:0 !important;
                    display: block;
                    font-size:14px;
                    padding:0 !important;
                    height: auto!important;
                    .txt {display: inline-block;font-size:14px; padding:12px 30px 12px 130px; width: 100%; box-sizing: border-box;}
                    &:before {content:attr(data-title);display: block;height: 100%;background:#f5f5f5;font-family: 'NotoM';width:100px;color:#000;position:absolute;padding:12px 0 12px 20px; box-sizing: border-box;}
                    &:last-child {border-bottom:1px solid #eee !important}
                    
                }
            }
        }
    }
      //customer 
  .section-customer{padding-bottom:40px;}
  //customer > cyber audit
  .visual-customer-audit{
    background-image:url("../images/sub/visual_sub_customer-audit_mo.png");
  }
  .privacy-agree-box{
    margin-top:20px;
    .top{
      .btn-box{
        display:block;
        text-align:right;
      }
    }
    .pane{
      margin-top:17px;
      padding:20px;
      .list-privacy-agree{
        .title{color:#666666;}
        &>li:not(:first-of-type){
          margin-top:20px;
        }
      }
    }
  }
  //customer > safety petition system
  .visual-customer-petition{
    background-image:url("../images/sub/visual_sub_customer-petition_mo.png");
  }
  //customer > voc
  .visual-customer-voc{
    background-image:url("../images/sub/visual_sub_customer-voc_mo.png");
  }
  //customer > msds
  .visual-customer-msds{
    background-image:url("../images/sub/visual_sub_customer-msds_mo.png");
  }
  .msds-box{
    margin-top:0;
    >.item{
      width:25%;
    }
    .abbr{
      &:before{
        width:6px;
        height:6px;
        margin:-3px 0 0 -3px;
      }
      position:relative;
      width:100%;
      height:0;
      padding-top:100%;
      border:1px solid #c7a635;
      font-size:29px;
      line-height:1;
      span{
        display:block;
        position:absolute;
        top:50%;
        width:100%;
        margin-top:-15px;
        text-align:center;
      }
    }
    .title{
      margin-top:12px;
      font-size:14px;
      .eng{
        margin-bottom:5px;
        font-size:12px;
      }
    }
  }
  .section-ghs{
    .inner{
      flex-direction: column;
      padding:40px 5vw;
      .col{
        width:100%;
        &:first-of-type{
          margin-bottom:32px;
          padding-right:0px;
        }
      }
    }
    .sub-title{
      margin-bottom:7px;
      font-size:18px;
    }
    .desc-box{
      max-width:100%;
    }
    .desc-dfn{
      font-size:14px;
    }
    .list-ghs{
      >li{
        display:block;
        width:100%;
        margin:0;
      }
      a{
        color:#666666;
        font-size:14px;
      }
    }
  }
  .section-customer{
    .col-msds-1,
    .col-msds-2,
    .col-msds-4{display:none;}
    
  }



}

@media (max-width: 319px) {
    
}