// only english
html[lang="en"]{
  .btn-toggle{
    &.toggle-text{
      &:before {content:'Read more'}
  
    }
    
  }
}
.header{
  .header-wrap{
    .nav-header{
      .list-nav{
        li{
          a{
            font-family: 'MadetommyR';
          }
        }
      }
    }
  }
}
.main-body .sns-title-wrap .sub-tit span{
  font-family: 'MadetommyR';
}
.header-pane{
  .introduce-menu{
    .title{
      font-family: 'MadetommyR';
    }
    .desc{
      font-family: 'Arial';
    }
  }
  .depth{
    .title{
      font-family: 'Arial';
    }
    ul{
      li{
        a{
          font-family: 'Arial';
        }
      }
    }
  }
}
.pgrph-wrap{
  .tit{
    text-transform: unset;
  }
}
*{
  letter-spacing: -0.3px;
  word-break: break-word !important;}
.list-esg{
  li{
    a{
      padding:9.5% 15%;
    }
    .title{
      font-family: 'Arial';
    }
    .desc{
      font-family: 'Arial';
    }
  }
}
.list-recruit{
  li{
    .title{
      font-family: 'Arial';
      font-weight: bold;
    }
    .desc{
      font-family: 'Arial';
    }
  }
}
.page-sustainability-corporate .accordian-box .top .box .btn-toggle .title{
  font-family: 'Arial';
  font-weight: bold;
}
.accordian-box .pane{
  font-family: 'Arial';
}
.info-box-wrap{
  .info-box{
    .title{
      font-family: 'MadetommyR';
    }
  }
}
.page-sustainability-environmentalMg{
  .pgrph-wrap{
    .pgrph{
      color: #666;
    }
  }  
} 
.pgrph-wrap{
  .tit{
    font-family: 'MadetommyM';
    font-size: 28px;
  }
}

.title-order{
  font-family: 'MadetommyM';
}
// 회사소개
.page-company-index{
  .sub-cont{
    .tit{
      font-family: 'MadetommyR';
      letter-spacing: -.72px;
      span{
        font-family: 'arial';
        letter-spacing: -.36px;
      }
    }
  }
}
// 개요
html[lang="en"]{
	.section-company-1 {
		.business-section-03 {
			.section-company-list {
				flex-direction: column;
				li {
					padding-left: 0;
					margin-left: 0;
					&:before {
						content: "";
						display: none;
					}
				}
			}
		}
		.business-section-text {
			max-width: 495px;
			.section-title {
				font-family: 'MadetommyM';
			}
			.section-sub {
				font-family: 'Arial';
  				font-weight: bold;
			}
			.section-company-list li {
				font-family: 'Arial';
				letter-spacing: -0.7px;
			}
		}
	}
	
	@media (min-width: 768px) and (max-width: 1024px) {
		.section-company-1{
			.business-section-text {
				max-width: 400px;
			}
		}
	}
}

// 지속가능경영
.page_safety_health{
  .figure-chart{
    .figcaption{
      font-family: 'Arial';
      font-weight: bold;
    }
  }
}
.summary-sustainability{
  .desc{
    font-family: 'MadetommyR' !important;
    font-size: 32px !important;
    line-height: 1.5 !important;
    letter-spacing: -.64px !important;
    width:785px;
  }
}
// .section-sustainability{
//   .desc{
//     font-family: arial;
//     font-size: 16px;
//     line-height: 1.5;
//     letter-spacing: -.32px;
//   }
// }
.list-sustainability-overview{
  li{
    .tit{
      font-size: 14px;
      font-family: arial;
      font-weight: bold;
      display: inline-block;
      line-height: 1.14;
      &::before{
        margin-top:25px;
        margin-bottom: 5px;
      }
    }
  }
}
.pgrph-wrap .pgrph{
  font-family: 'Arial';
}
.certification-box{
  li{
    .dec-wrap{
      strong{
        font-family: 'MadetommyR';
      }
      em{
        font-family: 'MadetommyR';
      }
    }
  }
}
.pgrph-wrap .tit-sub{
  font-family: 'MadetommyR';
}
// 지속가능 환경방침
.list-company-thumbnail{
  .desc{
    font-weight: bold;
    font-size: 16px;
    &::before{
      background-position-y: 0%;
      margin-top: -29px;
      margin-bottom: -3px;
    }
  }
}
// .list-golden-rules{
//   .desc{
//     width: 210px;
//   }
// }
.tab_nav.type-2 a{
  padding:12px 6px;
  white-space: nowrap;
}
.sustain-img-wrap{
  p{
    line-height: 1.5;
  }
}
.en-pgrph{
  color: #666;
  font-size: 18px;
  font-family: arial;
  margin-top: 15px;
}

// 투자정보
.ratioChart{
  .charTit{
    color: red;
  }
}
.presentation-box{
  .item{
    .item-lst{
      .title{
        font-size: 18px;
        font-family: 'arial';
        font-weight: bold;
        .date-desc{
          // color: #000;
          font-size:18px;
          font-weight: normal;
          color: inherit;
        }
      }
    }
  }
}
// 고객지원 
.select-box-search{
  width: 250px;
}
.content-title{
  .title{
    font-family: 'MadetommyM';
  }
}
.ilis-step{
  li{
    span{
      font-family: arial;
      font-size: 18px;
      letter-spacing: -.36px;
    }
  }
}
//company
// 국내네트워크 영문
.page-company-local{
  .accordian-box{
    .title{
      font-size: 18px;
    }
    .desc{
      font-size: 14px;
    }
  }
  .list-network{
    font-size: 14px;
    dt,dd{
      font-size: 14px;
    }
  }
}
// 해외네트워크
.section-oversea-inner{
  .wrap-layer{
    .desc{
      font-size: 16px;
    }
  }
}
//visual
[class*="btn-common"]{
  font-family: 'Arial';
  // font-weight: bold;
}

.document-title{
  &.type-2{
    .title{
      font-family: 'MadetommyM';
    }
    .desc{
      // text-align: center;
    }
  }
}
.download-certification-wrap{
  margin-top: 80px;
}
#section-product{
  .inner{
    .title-text-box-common{
      .main-visual-txt{
        line-height: 1.29;
      }
    }
  }
}
#section-business{
  .inner{
    .title-text-box-common{
      .type2{
        .char{
          margin-top: 10px;          
        }
      }
    }
  }
}
.main-visual-txt{
  .char{
    font-family: 'MadetommyR';
  }
}
.main-body{
  .list-img-banner{
    a{
      .title{
        font-family: 'Arial';
        font-weight: bold;
      }
    }
  }
}
.list-img-banner{
  margin-top: 0;
}

.box-tab{
  .list-tab{
    li{
      .title{
        font-family: Arial;
        font-weight: bold;
        &::before{
          margin-right: 8px;
        }
      }
    }
  }
}
.section-location{
  padding-bottom: 80px;
}
.align-padding{
  padding-left: 40px;
}
.footer{}
.footer-top-menu{
  // padding:30px 0;
}
.copyright{
  margin-top: 40px;
}
.news-box{
  .list-news{
    .item{
      .title{
        font-family: Arial;
        font-weight: bold;
        letter-spacing: -.48px;
      }
      .desc{
        font-family: Arial;
      }
    }
  }
}
#section-visual-sub{
  .visual{
    .title{
      .small{display: none;}
      .main-visual-txt{
        font-family:'MadetommyM';
      }
    } 
    
  } 


}
  




.list-company-ideology > li{
  padding:25px;
  font-size:22px;
}
.section-story .article-box .txt-area .tit{
  font-size:36px;
}
.section-story .pic-lst li .pic .txt{
  padding:15px;
  font-size:16px;
  line-height:1.2;
}
.section-location .accordian-box .top .box:nth-of-type(1){
  padding-right:20px;
}

// history 회사연혁
.history-wrap{
  .history-box{
    .item-box{
      .item{
        .desc{
          font-family: 'Arial';
          font-weight: bold;
        }
      }
    }
  }
}
.history-title-wrap{
  .title{
    font-size:48px;
    font-family: 'MadetommyM';
    letter-spacing: -0.96px;
    line-height: 1.29;
  }
  .desc{
    font-size: 18px;
    line-height: 1.5;
    font-family: 'arial';
  }
}

//business
.list-order{
  li{
    .desc{
      font-family: 'Arial';
    }
  }
}
.new-green-hydrogen{
  .new-inner-article{
    .title-article{
      font-family: 'MadetommyM';
      letter-spacing: -1.12px;
    }
  }
  .green-hydrogen-desc-list{
    span{
      font-family: 'Arial';
    }
  }
}

.section-hydrogen-color-list {
  .hydrogen-list {
    li {
      &:first-child {
        background-image: url(../images/business/hydrogen_list_img01_en.png);
        background-color: #e0e0e0;
      }
      &:nth-child(2) {
        background-image: url(../images/business/hydrogen_list_img02_en.png);
        background-color: #d0e0f4;
      }
      &:last-child {
        background-image: url(../images/business/hydrogen_list_img03_en.png);
        background-color: #c8ece4;
      }
      dl{
        dd{
          font-family: 'Arial';
        }
      }
    }
  }
}
.list-golden-rules{
  li{
    display: flex;
    flex-direction: column;
    align-items: center
  }
}
// 미래사업 개요
.section-troika{
  .troika-right-text{
    width: 85%;
    .pgrph{
      letter-spacing: -.36px;
      font-family: Arial;
      .bold-gray{
        font-family: Arial;
        font-weight: bold;
        letter-spacing: -.48px;
      }
    }
  }
  .troika-tit{
    font-family: 'MadetommyM';
    .troika-subtit{
      text-transform: uppercase;
      font-family: 'MadetommyM';
    }
  }
}
.list-product-use{
  >li{
    .txt{
      font-size: 13px;
      font-family: arial;
      line-height: 1.22;
      letter-spacing: -.36px;
    }
  }
}
.hashtag-box{
  .tag{
    font-family: 'arial-mdm';
  }
}
.article-box{
  .inner-article{
    .title-article{
      font-family: 'MadetommyM';
    }
  }
}
.businsess-intro-wrap .intro-title{
  font-family: 'MadetommyM';
}
.title-definition-wrap{
  h3{
    font-family: 'MadetommyM';
  }
}
.page_waste-battery{
  .section-recylce{
    .reuse-process-list{
      li{
        span{
          font-size: 16px;
          letter-spacing: -.32px;
          font-family: arial;
          line-height: 1.31;
        }
      }
    }
  }
  .section-global-battery{
    .inner{
      .title-definition-wrap{
        padding-top: 135px;
      }
    }
  }
}
.page_secondary_battery{
  .section-global-battery{
    .inner{
      sup{
        display: none;
      }
      h4{
        font-family: 'MadetommyM';
        margin-bottom: 15px;
      }
      .title-definition-wrap{
        margin-bottom: 40px;
      }
      .global-contents-definition{
        p{
          font-family: 'arial';
        }
      }
    }
  }
}
// ceo
.page-company-ceo{
  .section-ceo-2{
    .article-box{
      .greeting{
        font-family: 'Arial';
        width: 48%;
        .ceoname{
          font-family: 'Arial';
          font-weight: bold;
        }
      }
    }
  }
}
.section-ceo-3{
  .article-box{
    .txt-area{
      .tit{
        font-size:32px;
        font-family:'MadetommyM';
      }
    }
  }
}
.section-story{
  .article-box{
    .txt-area{
      width: 25%;
      .tit{
        font-size: 32px;
        font-family: 'MadetommyM';
      }
    }
  }
}
//product 제품정보
.inner-product-bottom .item-summary .desc-box{
  margin-top:0;
}
.item-summary .desc{
  min-height:80px;
}
.inner-product-bottom .item-summary .desc{
  min-height:0;
}
.tab_nav{
  &.type-1{
    a{
      text-align: center;
    }
  }
}

// 영문 GNB 해상도
@media (min-width:1310px) and (max-width:1560px){
  .header{
    .header-wrap{
      .nav-header{
        .list-nav{
          li{
            margin-right: 20px;
            a{
              font-size: 17px;
            }
          }
        }
      }
    }
  }
}

// PAD 해상도
// @media (min-width:790px) and (max-width:821px){
//   .list-company-thumbnail{
//     .desc{
//       &::before{
//         margin:0;
//       }
//     }
//   }
// }

@media (min-width: 768px) and (max-width: 1024px){
  [class*="btn-common"]{
    font-size: 14px;
    padding: 13px 23px 13px;
  }
  .item-summary{
    padding: 27px;
  }  
  .list-company-ideology >{
    li{
      font-size: 20px;
    }
  }
  .page-media-introduce{
    .gradient{
      height: 54%;
    }
  }
}

@media (max-width:1024px){
  
}

@media (max-width: 767px) {
	//환경경영
	.list-company-thumbnail .desc {
		top: 30% !important;
	}

	//풍력에너지
	
	.section-wind-desc {
		.inner {
			figure {
				padding-top: 44vw;
			}
		}
	}

  .list-golden-rules{
    li{
      display: inline-block;
    }
  }
  .tit-sub{
    font-size: 18px;
  }
  .page_safety_health{
    .figure-chart{
      .figcaption{
        font-size: 18px;
      }
    }
  }
  .page-company-local{
    .accordian-box{
      .title{
        font-size: 18px;
      }
      .desc{
        font-size: 14px;
      }
    }
    .list-network{
      font-size: 14px;
      dt,dd{
        font-size: 12px;
      }
    }
  }
  // 해외네트워크
  .oversea-acco-cont .oversea-location-desc dl dd{
    width: 84%;
  }
  #section-product{
    .inner{
      .title-text-box-common{
        .main-sub-txt{
          display: none;
        }
      }
      .main-visual-txt{
        line-height: 1.31;
        margin-bottom: 20px;
        .char{
          font-size: 32px;
          font-family: 'Madetommy';
        }
      }
    }
  } 

  .document-title{
    &.type-2{
      .title{
        font-size: 28px;
        line-height: 1.29;
        letter-spacing: -1.12px;
      }
    }
  }
  .section-sustainability-report{
    p{
      &.first{
        font-family: 'Arial';
        font-weight: bold;
      }
    }
  }
  // 지배구조 정관
  .incorporation-wrap{
    font-size: 14px;
    font-family: Arial;
  }
  // 지배구조 이사회
  .table{
    &.type-mo{
      td{
        &::before{
          width:110px;
        }
      }
    }
  }
  .is-padding-align-left{
    padding-left: 110px;
  }
  // 회사소개 - 기업소개
  .page-company-overview{
    .list-company-thumbnail{
      .title{
        font-family: 'MadetommyR';
        letter-spacing: -.64px;
      }
    }
    .section-overview-1{
      .list-company-thumbnail{
        >.item{
          a{
            .btn-common{
              margin-top: 10px;
              font-size: 13px;
            }
          }
        }
      }
    }
  }
  .list-relation{
    li{
      .title{
        font-family: 'MadetommyR';
      }
      .desc{
        font-family:'Arial';
      }
    }
  }
  .list-sustainability-overview{
    li{
      .tit{
        font-size: 11px;
        text-align: center;
        &::before{
          margin-top: -15px;
          margin-bottom: -4px;
        }
      }
    }
  }
  .list-company-thumbnail{
    .desc{
      &::before{
        margin-top: -5px;
        margin-bottom: 1px;
      }
    }
  }
  .list-company-thumbnail{
    .item{
      &:not(:last-child){
        .desc{
          &::before{
            margin-top:5px;
            margin-bottom: -4px;
          }
        }
      }
    }
  }
  .list-environmental-article{
    .desc{
      color:#666;
    }
  }
  .figure-esg-diagram{
    img{
      padding-top: 18.88vw;
    }
  }
  .news-item{
    .item{
      .figure-wrap{
        .figure{
          margin-top: 20px;
        }
        .item-desc{
          .dt{
            strong{
              font-size: 28px !important;
              font-family: 'MadetommyR';
              line-height: 1.29;
            }
          }
        }
      }
    }
  }
  .footer-top-menu{
    padding: 0 5vw;
    ul{
      display: flex;
      padding: 10px 0;
    }
  }
  .sns-box{
    align-items: center;
  }
  // .section-sustainability{
  //   .desc{
  //     font-size: 12px;
  //     letter-spacing: -.44px;
  //     line-height: 1.15;
  //   }
  // }
  .list-company-thumbnail{
    .desc{
      font-size: 11px;
    }
  }
  .summary-sustainability{
    .desc{
      font-size: 18px !important;
    }
  }
  .select-box-search{
    width: 100px;
    font-size: 12px;
    text-overflow: ellipsis;
  }
  // 제품정보 767px!
  .box-product-summary{
    .title{
      font-family: 'MadetommyM';
      font-size: 28px;
      letter-spacing: -1.12px;
      line-height: 1.29;
    }
  }
  .box-product-detail{
    .title{
      font-family: 'MadetommyM';
    }
  }
  .table{
    col{
      display: revert;
    }
  }
  // 미래사업 개요
  .section-troika{
    .troika-right-text{
      width: 100%;
    }
  }
  // 기업소개 개요
  .history-title-wrap{
    .title{
      font-size: 36px;
    }
    .desc{
      font-size: 16px;
    }
  }
}

@media (max-width: 319px) {
  
}