//media
.section-media{padding:118px 0 160px;}
.media-tap-wrap{
  padding-bottom: 80px;
}
//media > companynews
.visual-media-companynews{
  background-image:url("../images/sub/visual_sub_media-companynews.png");
}
.media-news-pick{
  display:flex;
  margin-top:65px;
  background-color:#f5f5f5;
  .img-box{
     position:relative;width:49.37%;overflow: hidden; padding-bottom:calc(49.37% /632*474);overflow:hidden;
    img{ object-fit: cover; width:100%; height:100%;position: absolute; top:50%; left:50%; transform: translate(-50%,-50%);}
  }
  .txt-box{
    flex:1;
    padding:7.5% 6.3%;
    .time{
      display: block;
      margin-top: 5px;
      color: #666;
      font-family: 'MadetommyL';
      font-size: 16px;
    }
    .title{
      margin-top:11px;
      font-family:'NotoB';
      font-size:32px;
      line-height:1.4;
    }
    .desc{
      margin:13px 0 18px;
      color:#666666;
      line-height:1.7;
    }
  }
}
.datepicker-box{
  display:flex;
  margin-top:80px;
  margin-bottom: 40px;
  .cal-input{
    display:flex;
    width:160px;
    .input{flex:1;}
    .btn-calendar{
      width:40px;
      margin-left:-1px;
      border:1px solid #cccccc;
      background-color:#f5f5f5;
      background-image:url("../images/icons/icon_calendar.png");
      background-repeat:no-repeat;
      background-position:50% 50%;
      background-size:20px;
      font-size:0;
      text-align:center;
    }
  }
  .dash{
    padding:0 8px;
    line-height:40px;
  }
  .select{
    width:145px;
    margin:0 8px;
  }
  .search-input{
    display:flex;
    width:315px;
    .input{flex:1;}
    .btn-search{
      margin-left:-1px;
      padding:0 22px;
      border:1px solid #cccccc;
      background-color:#f5f5f5;
      color:#666666;
      white-space: nowrap;
    }
  }
}
.result-datepicker-search{
  margin-top:10px;
  .mark{
    background-color: transparent;
    color: #0056ff;
  }
  .num{}
}
// 개발 data 불러올때 텍스트 줄 안넘치게 공통class 정의
.data-text-overflow2{
  white-space: normal;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  display: -webkit-box;
  font-size: 18px;
  text-overflow: ellipsis;
  *{
    background-color:transparent !important;
  }
}
.media-news-pick{
  .txt-box{
  .data-text-overflow{
      white-space: normal;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
      display: -webkit-box;
      font-size: 18px;
      text-overflow: ellipsis;
      *{
        background-color:transparent !important;
      }
    }
  }
}
//media > brandstory
.visual-media-brandstory{
  background-image:url("../images/sub/visual_sub_media-brandstory.png");
}
//media >brandstory view 공통 

.article-inner {
  max-width: 800px; margin:0 auto;
}

.article-view {
  [class*="article-section-"]{
    .article-inner {padding:9.3750% 0;}
  }
  .flex-wrap {display: flex;}

  .document-title  {
    position: relative;
    .desc {color:#333; @include Bold;}
      .is-mark {
        display: flex; justify-content: space-between;padding-bottom: 41px; position: relative;
      }
    .mark {position:absolute; right:0; bottom:0;font-family: 'MadetommyB'; font-size:18px; line-height:1.33; color:#0a0f23; transform: rotate(90deg);
      &:before {content:"";display: inline-block; width:90px; height: 2px; background:#000; position: absolute; padding-right:8.5px; left:-110px; top:10px}
    
    }
    
  }

.pgrph-wrap {
  
  .pgrph {color:#666;}
}
.img-area {
  .img-caption {font-size:24px; @include Bold; color:#000;}
  img {
    &+img {
      margin-top:80px;
    }
  }
  &+.pgrph {margin-top:80px}
}
//bg - color
.bg-color-turquoise {background-color: #baf0e9;}
.bg-color-gray {background-color: #f5f5f5;}
}
/*media >brandstory page1_저력있는 브랜드, 힘있는기업*/
// .media-view-page-01 {
//   .article-section-02 {
//     .article-inner {background-image:url("../images/media/brand_story_view_page01_bg01.png"); padding:80px 0 522px;background-repeat: no-repeat; background-position: center bottom;}
//   }
//   .competition-lst-w{
//     margin:64px 0 0;
//     .competition-lst {
//       border: 2px solid #000;
//       li {
//         padding: 40px 38px 38px 272px;
//         border-bottom: 2px solid #000;
//         &:last-child {border-bottom: 0;}
//       }

//       &+.pgrph {margin-top:64px;}
//     }
//   }
 
// }







//media > esgstory
.visual-media-esgstory{
  background-image:url("../images/sub/visual_sub_media-esgstory.png");
}

//media > peoplestory
.visual-media-peoplestory{
  background-image:url("../images/sub/visual_sub_media-peoplestory.png");
}

//media > library_media 
.visual-media-library {background-image:url(../../assets/images/sub/visual_sub_media-library.png);}
.bts {margin:0 auto;}
.page-media-library{
  .go-download {
    width: 16px;height:14.5px;margin-top:-3px; margin-left:8.5px; background-size:100%;background: url("../images/icons/icon_download_w18.png") no-repeat 50% 50%;
    &.is-white {
      background-size:100%;background: url("../images/icons/icon_download_white_w18.png") no-repeat 50% 50%;
    }
  }
  .tit-wrap {
    display: flex;
    justify-content: space-between;
    align-items :center;
    margin-bottom:24px; 
    h4 {font-size:32px;line-height: -1.28px; @include Bold;letter-spacing: -1.92px;}
  }
  .video-wrap { 
    // height:593px;
    background:#fff;
    display: block;
    position: relative;
    padding-bottom:calc(100% /1064*593);
    .video {display: block; position: absolute; left:50%; top:50%; transform:translate(-50%,-50%); width:100%; object-fit: cover; max-width:inherit; min-width:100%; height:100%;}
 
  }
  .section-library-01{
  }
  .section-library-02{
    padding:80px 0;
    background-color:#f5f5f5;
    .inner {max-width:1064px;}
    
  }
  .section-library-03{
    padding:80px 0;
    background-color:#0a0f23;
    .inner {max-width:1064px;}
    .tit-wrap {color:#fff;}
  }
}

//media > library_introduce
.visual-media-introduce {background-image:url("../../assets/images/sub/visual_sub_media-introduce.png");}
.page-media-introduce {
  display: block;
  padding-bottom: 225px;background:#fff;
  .go-download {
    width: 16px;height:14.5px;margin-top:-3px; margin-left:8.5px; background-size:100%;background: url("../images/icons/icon_download_w18.png") no-repeat 50% 50%;
    &.is-white {
      background-size:100%;background: url("../images/icons/icon_download_white_w18.png") no-repeat 50% 50%;
    }
  }
  .section-introduce-02 {
    position: relative;
    background:url("../images/media/introduce-section_bg.png") no-repeat;
    background-size: cover;
    // height:680px;
    .inner {max-width:1150px;}
  }
  .gradient {
    width: 38.869%; height:600px; 
    background-image: linear-gradient(144deg, #e1c86f 2%, #b48e0f 98%);
    margin-right:12.1739%;
    bottom:-70px;
    position: absolute;left:0;
    padding:17.73% 0 0 3.47%; 
    box-sizing: border-box;
    .dec { }
    .span {display: block;}
    .gradient-tit{font-family: 'MadetommyM';line-height:1.29;color:#fff;font-size:48px; }
    .gradient-txt {font-family: 'NotoL'; font-size:18px;color:#fff;  font-size:18px;}
    &::after{
      display: block;
      content: '';
      background-image: url(../../assets/images/media/gold-bg-img.png);
      background-repeat: no-repeat;
      background-size: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 93%;
      height: 570px;
    }
  }
  .introbox-wrap {
    padding:12.173% 0;
    position: relative;
    .intro-desc {
      width: 40%;margin-top:15px;padding-left:50.95%;
      .tit {color:#fff;font-family: 'MadetommyB';font-size: 48px;line-height: 1.29;}
      .txt {margin-top:15px;@include Normal; font-size:16px; letter-spacing: -.64px;color:#fff; line-height:1.5; opacity: 0.7;}
      button {margin-top:30px;}
    }
  }
}



// media > sns channel
.visual-sns-channel{
  background-image:url(../../assets/images/media/visual_sub_media-sns.png);
}
// sns channel
.page-sns-channel{
  .sns-title-wrap{
    display: flex;
    align-items: center;
    .tit{
      margin-bottom: 0;
      position: relative;
      &::after{
        display: block;
        content: '';
        width: 2px;
        height: 16px;
        background-color: #ccc;
        position: absolute;
        right: -20px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    .sub-tit{
      font-size: 18px;
      letter-spacing: -.72px;
      margin-left: 64px;
      span{
        @include Bold;
        margin-left: 5px;
      }
    }
  }
  .sns-sub-tit{
    &::after{
      display: block;
      content: '';
      position: absolute;
      width: 25px;
      height: 25px;
      background-repeat: no-repeat;
      left: -30px;
      top: 2px;
    }
    &::before{
      display: block;
      content: '';
      width: 6px;
      height: 6px;
      position: absolute;
      right: -13px;
      top: 50%;
      border-right: 2px solid #333;
      border-bottom: 2px solid #333;
      transform: rotate(-45deg) translateY(-50%);
    }
  }
  .list-img-banner{
    margin-bottom: 48px;
    a{
      position: relative;
      &::after{
        display: block;
        content: '';
        background-image: url(../images/media/youtube-play-btn.png);
        width: 80px;
        height: 80px;
        position: absolute;
        left: 50%;
        top: 40%;
        transform: translate(-50%,-50%)
      }
        .title{
          font-size: 18px;
          letter-spacing: -.72px;
        }
      
    }
  }
  .youtube-pgrph-wrap{
    .sns-sub-tit{
      position: relative;
      &::after{
        background-image: url(../images/media/youtube-icon.png);
        top: 5px;
      }
    }
  }
  .insta-pgrph-wrap{
    .sns-sub-tit{
      position: relative;
      &::after{
        background-image: url(../images/media/instagram-icon.png);
      }
    }
  }
  .instagram-list{
    display: flex ;
    flex-wrap:wrap;
    margin-bottom: 48px;
    margin-top: 30px;
    li{
      width: 15.8%;
      margin-bottom: 16px;
      a { 
        background:#f5f5f5;
        display: block; position: relative; padding-bottom: calc(100% / 200 * 200); overflow: hidden;
        img { 
          display: block; position: absolute; left:50%; top:50%; width:100%; object-fit: cover; max-width: inherit; min-width: 100%; height:100%; 
          transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%); -moz-transform: translate(-50%,-50%);  -o-transform: translate(-50%,-50%);}
      }
      &:not(:nth-child(6n)){
        margin-right: 1%;
       
      }
    }
  }
  .btn-wrap{
    display: flex;
    justify-content: center;
  }
}
// sns channel more videos
.page-sns-channel-more{
  .list-img-banner{
    margin-bottom: 80px;
  }
}


//media>library_media
// .visual-media-introduce {background-image:url(../../assets/images/sub/visual_sub_media-introduce.png);}

.btn-wrap{
  button{
    position: relative;
    .arrow{
      height: 16px;
      width: 2px;
      position: absolute;
      right: 13%;
      top: 50%;
      transform: translateY(-50%);
      &::before{
        position: absolute;
        bottom: 0;
        left: 0.5px;
        border-width: 2px;
        transform: rotate(50deg);
      }
    }
    &:hover{
      .arrow{
        transform: translate(0,1px);
      }
    }
  }
}









@media (max-width:821px){
  .page-media-introduce{
    .gradient{
      height: 65%;
      bottom: 100px;
      &::after{
        height: 93%;
      }
    }
    .introbox-wrap{
      .intro-desc{
        .tit{
          font-size: 31px;
        }
      }
    }
  }
}
@media (min-width:1180px) and (max-width:1200px){
  .page-media-introduce{
    .gradient{
      height: 75%;
      bottom: 50px;
      &::after{
        height: 93%;
      }
    }
    .introbox-wrap{
      .intro-desc{
        .tit{
          font-size: 42px;
        }
      }
    }
  }
  
}
@media (max-width: 767px){
  //media 
  .article-view{
    // [class*="article-section-"]{
    //   .article-inner {padding:9.3750% 5vw !important }
    // }
  
    .document-title{
      &.is-mark{

        padding-bottom: 3.2031%;
      }
      .mark{
        &:before {width:45px; left:-60px}
      }
    }
  }

  
  //media > library_media   
  .visual-media-library {background-image:url(../../assets/images/sub/visual_sub_media-library_mo.png);}

  .page-media-library{ 
    .tit-wrap {
      margin-bottom:3.27%;
      h4 {font-size: 24px;}
    }
    .section-library-02, .section-library-03{
      padding:11.11vw 0;
    }
    .intro-desc {
      margin:8.88% 0 0;
      button {margin:0 auto;}
    }
    .bts {
      margin:8.88% 0 0;
      button {margin:0 auto;}
    }
  }
  // media>introduce@
  .visual-media-introduce {background-image:url(../../assets/images/sub/visual_sub_media-introduce_mo.png);}
  .page-media-introduce{
    padding-bottom:22.22vw;
    .section-introduce-02 {
      background:none;
      .inner {padding:0 5vw}
      .introbox-wrap {
        padding:0;
        .bts {
          button {margin: 0 auto}
        }
        .intro-desc {
          padding-left:0; width:100%; margin-top:30vw;
          .bts {
            button {margin: 0 auto}
          }
          .tit {font-size:24px; line-height:1.11; color:#000; margin-top:8.88vw}
          .txt {font-size:14px; color:#666;letter-spacing: -1.28px;}
        }     
      
      .bg 
      {
        background: url("../images/media/introduce-section_bg.png") no-repeat;
        margin: 0 -5vw;
      }
      .gradient-box{display: block;position: relative;padding-bottom: calc(100%/720*560);}
      .gradient{
        margin-right:0;
        display: block;
        width:65.6%; height:82.6389vw; left:50%;transform: translateX(-50%);
        top:11.11%;
        bottom:-15.97%;
        box-sizing: border-box;
        padding-top:26.94%;
        .gradient-tit {font-size:22px;}
        .gradient-txt {font-size:14px;}
        &::after{
          height: 93%;
        }
      }
      .introbox-wrap { padding:0; }     
      
    }
  
  }

  }
  .section-media{padding:40px 0;}

  //media > companynews@
  .visual-media-companynews{
    background-image:url("../images/sub/visual_sub_media-companynews_mo.png");
  }
  .media-news-pick{
    display:block;
    margin:40px -5vw 0;
    .img-box{
      width:100%; position: relative; padding-bottom: calc(100% / 720 * 540); 
      img{ width:100%; height:100%; position: absolute; top:50%; left:50%; transform:translate(-50%,-50%) ; -webkit-transform:translate(-50%,-50%) ; -moz-transform:translate(-50%,-50%) ; -ms-transform:translate(-50%,-50%) ; -o-transform:translate(-50%,-50%) ; }
    }
      .txt-box{
      text-align:center;
      .time{text-align:left;}
      .title{
        margin-top:7px;
        font-size:24px;
        text-align:left;
        line-height:1.3;
      }
      .desc{text-align:left;}
    }
  }
  .datepicker-box{
    flex-wrap:wrap;
    margin-top:40px;
    .cal-input{
      width:46%;
    }
    .dash{
      width:8%;
      text-align:center;
      box-sizing: border-box;
    }
    .select{
      width:20%;
      margin-top:10px;
      margin-left:0;
    }
    .search-input{
      flex:1;
      margin-top:10px;
    }

  }

  //media > brandstory
  .visual-media-brandstory{
    background-image:url("../images/sub/visual_sub_media-brandstory_mo.png");
  }

  //media > esgstory
  .visual-media-esgstory{
    background-image:url("../images/sub/visual_sub_media-esgstory_mo.png");
  }

  //media > peoplestory
  .visual-media-peoplestory{
    background-image:url("../images/sub/visual_sub_media-peoplestory_mo.png");
  }
  // media > sns chaneel
  .visual-sns-channel{
    background-image:url('../../assets/images/media/visual_sub_media-sns_mo.png');
  }
  .page-sns-channel{
      .instagram-list{
        display: flex ;
        flex-wrap:wrap;
        margin-top: 12px;
        margin-bottom: 32px;
        li{
          width: 31%;
          margin-right: 5%;
          margin-bottom: 8px;
          &:not(:nth-child(6n)){
            margin-right: 3%;
          }
          &:nth-child(3n){
            margin-right: 0;
          }
          &:nth-last-child(n+1):nth-last-child(-n+3)
          {
            display: none;
          }
        }
      }
    .sns-title-wrap{
      .tit{
        &::after{
          width: 2px;
          height: 16px;
          background-color: #ccc;
          position: absolute;
          right: -20px;
          top: 50%;
        }
      }
      .sub-tit{
        font-size: 14px;
        letter-spacing: -1.12px;
        span{
          margin-left:2px;
        }
      }
    }
    .list-img-banner{
      margin-bottom: 30px;
      li{
      }
      a{
        .pic {
          display: block;position: relative; padding-bottom: calc(100%/416*312); overflow: hidden;background:#f5f5f5;
          img {position: absolute; top:50%; left:50%; transform: translate(-50%,-50%);object-fit: cover;}
        }
        .title{
          letter-spacing: -1.44px;
          line-height: 1.3;
          margin-top: 12px;
        }
      }
    }
    .btn-wrap{
      button{
        width: 180px;
        padding: 10px 0;
        font-size: 16px;
        letter-spacing: -1.28px;
      }
    }
    .sns-sub-tit{
      &::after{
        background-size: 80%;
      }
    }
    .youtube-pgrph-wrap{
      .sub-tit{
        &::after{
          top: 3px;
          left: -28px;
        }
      }
    }
    .insta-pgrph-wrap{
      margin-top: 77px;
      .sub-tit{
        &::after{
          top: 1px;
          left: -28px;
        }
      }
    }
  }
}
